[2016-11-17 20:27] keith-turner opened #806 "Consider caching Bytes to byte[] when creating mutations"
While working on #804 I realized that in some cases caching Bytes to byte[] conversion would probably be faster than always allocating new byte array in some situations.  This is mainly when there is small set of columns(or a small set of families or qualifiers).   When all of the columns are unique, trying to cache could hurt performance.   So the code would need to adapt to this situation and po

[2016-11-17 20:52] keith-turner commented on #800
In #804 I did some very narrow caching.  This caching is only at a per transaction level and in some cases only per a transactions operation.

[2016-11-24 00:08] keith-turner opened #808 "Not seeing stats for failed transactions in Grafana"
I had a buggy observer that was repeatedly failing with exceptions and the failures were not shown in the grafana dashboard.

[2016-11-30 14:27] keith-turner opened #809 "Dereference buffered data after commit"
After a transaction commits successfully, it could dereference all buffered data.  This would be useful in the case when something keeps a reference to the transaction.

[2016-12-09 15:39] #803 closed

[2016-12-13 15:33] keith-turner opened #811 "Look into adding API operation to return non existant row columns."
A few times I have written Fluo code to find the row columns that do not exists.   A primitive operation for this could be optimized.

[2016-12-16 18:39] #430 closed

[2016-12-16 21:42] keith-turner opened #813 "Look into making FluoConfiguration Serializable"
Was looking into writing a Spark code using Fluo.  I was expecting FluoConfiguration to be serializable and it was not.

[2016-12-19 17:14] keith-turner commented on #813
In the next release of Fluo, FluoConfiguration will be serializable.  There are many ways to work around this issue before the next release.  Below is an example of one way.

[code]

[2016-12-20 21:27] #813 closed

[2016-12-23 21:22] keith-turner opened #815 "Make drip in Fluo dark logo a lighter color"
I thnik the drip in the Fluo dark logo is too dark.  It does not contrast well with dark backgrounds.   I recently updated Fluo's [logo for twitter][1] and I lightened the drip.   If the main dark logo is updated, need to circle back and make Twitter consistent.

[1]: https://twitter.com/apachefluo

[2016-12-27 13:18] keith-turner commented on #290
http://aurora.apache.org/

[2017-02-16 11:02] dlnufox commented on #345
Hi, @keith-turner .
I have the same question. Is it a bug ?

[2017-02-16 15:30] keith-turner commented on #345
@dlnufox  can you provide more details about the error you saw?

[2017-03-17 22:48] keith-turner opened #816 "Use ObserversFactory to setup observers"
I issue is based on the following discussion.

https://lists.apache.org/thread.html/6adc02c128c1ed43b85dc53a7bda19ce3dd77e9966f8810696b43d24@%3Cdev.fluo.apache.org%3E

[2017-03-23 18:04] keith-turner commented on #555
Saw this fail again on travis build of #817

[code]

[2017-03-29 17:06] #816 closed

[2017-04-03 16:36] keith-turner commented on #500
I have come up with another solution to this problem. The solution is to group workers into fixed sized groups and have each group scan a disjoint set of tablets.

For example if there are 23 workers, a minimum group size of 7, and 100 tablets, then would create the following groups :

 * Group 1 with 8 workers and 34 tablets
 * Group 2 with 8 workers and 33 tablets
 * Group 3 with 7 workers and 3

[2017-04-03 17:26] ctubbsii commented on #500
How would tablets be assigned to groups?

[2017-04-03 18:30] keith-turner commented on #500
Good question, I have spent a good bit of time thinking about this.  This is easy to do, IF all of the workers can agree on what the current set of tablets for a table is.  However, the workers can possibly read different splits at different times.

I was trying to figure out a fancy distributed way of all workers agreeing on the same set of split points for a table (for a time period), but could

[2017-04-03 20:57] mikewalch opened #818 "Old/new observers config exception is causing ITs to fail"
Multiple ITs are failing due to exception. It looks like this was caused by #817.

[code]

[2017-04-06 13:17] mjwall commented on #500
How does recovery happen if any given process is killed?

[2017-04-06 19:45] keith-turner opened #820 "Twill is not working with netty 3.10.5"
I recently tried running Fluo with the latest version of Zookeeper, which brought in a newer version of netty.  For an unknown reason this newer version of netty causes the Twill application master to not work.  I constantly see errors like the following when trying to start a Fluo applications.

[code]

I also tried the following

[code]
There are no errors in the Twill AM log.  If I put netty 3.

[2017-04-06 20:11] keith-turner commented on #500
All of the information used to partition workers, tablets, and notification comes from zookeeper.  All of the workers watch this information in zookeeper.  What I am currently doing in my branch is when any of the information changes then workers stop processing notifications until the information in zookeeper is stable for 60 seconds.

[2017-04-07 15:16] #818 closed

[2017-04-07 15:16] #820 closed

[2017-04-18 19:34] keith-turner opened #823 "Add endsWith and startsWith methods to Bytes"
Multiple times I have run into situations where I wanted to know if Bytes started with a certain prefix.  It would be useful to have methods on [Bytes](https://github.com/apache/incubator-fluo/blob/master/modules/api/src/main/java/org/apache/fluo/api/data/Bytes.java) to for check this like String has.   Something like :
 * `boolean Bytes.startsWith(Bytes prefix)`
 * `boolean Bytes.endsWith(Bytes s

[2017-04-21 02:13] #500 closed

[2017-04-24 15:02] keith-turner opened #826 "Avoid using bytesAt() internally in Bytes"
I noticed that multiple methods inside Bytes use the `byteAt` method in loops.  It would be more efficient to access the array directly because `byteAt` does sanity checks for each access.  It would better to sanity check the entire range before the loop and directly access the array inside the loop.  This improvement could be made to at least the following methods : `hashCode()` and `compareTo`.

[2017-04-24 16:20] keith-turner commented on #826
Can also avoid continually adding the offsets by doing it once outside the loops.

[2017-04-26 20:37] #823 closed

[2017-04-26 20:55] keith-turner opened #827 "Add copyTo() method to bytes"
For data serialization use cases, a user may want to copy multiple Bytes objects to a byte array.   The current options for that are to call Bytes.toArray() or use the Bytes.byteAt() method.  If Bytes had a `copyTo(byte[] dest, int offset)`   method then it could support this use case more efficiently.  The following is an example.

[code]

[2017-04-26 22:44] ctubbsii commented on #827
Looking at this example, I'm wondering if the javadoc for any such method should make it a point to remind the user that the offset and length correspond to the UTF-8 encoded byte array form of any String/CharSequence that they may have used to construct the Bytes with, and may differ from the character offsets in the original string.

[2017-04-28 13:57] cjmctague commented on #826
@keith-turner Could we use the java helper methods like `Objects.hashCode(this);`for `hashCode()`  in Bytes like is used in the rest of the API?

[2017-04-28 17:03] keith-turner commented on #826
@cjmctague if you can find something.  I couldn't find a built in java method that takes an offset and length.  Java has `Arrays.hashCode(byte[])`, but to use this we would need to create a new byte array and copy to it.  Too bad java doesn't have ``Arrays.hashCode(byte[] data, int offset, int len)`

[2017-04-28 21:48] #826 closed

[2017-05-04 23:24] keith-turner opened #829 "Observers implemented as lambdas showing up multiple times in metrics"
With the changes for #816 observers implemented as lambdas end with different names on different nodes in metrics.

![screenshot from 2017-05-04 19-17-12](https://cloud.githubusercontent.com/assets/1268739/25728667/935d8ea4-30fe-11e7-87f6-351716f88c61.png)

[2017-05-05 15:55] keith-turner commented on #829
I did some research to see if these numbers generated for lambdas are stable w.r.t to a compiled class files.  From what I read online, it seems they are not.  The first number (before the slash) seems to be runtime encounter order and I have not been able to find out what the second number represents.

I ran simple test to prove to myself that the first number is encounter order.

[code]

The pro

[2017-05-05 16:32] keith-turner commented on #829
One option for solving this is to use the column name in metrics instead of the classname.  I discussed this offline with @ctubbsii and he suggested letting the user specify a name.  This made me thing that the new ObserverRegistry should have a Fluent interface (it currently has two methods that take a bunch of arguments).  @ctubbsii suggested the following method names for the fluent interface.

[2017-05-05 19:41] keith-turner commented on #829
I have been playing around with the idea of making the observer registry fluent.  I realized its nice to have the observer come last for the case when the observer is a multi-line lambda.  To make the observer come last, I am thinking of using the following method names.

[code]

[2017-05-08 19:06] keith-turner commented on #827
For the case where a subsequence of a Bytes object needs to be copied, I was thinking the `subsequence()` method could be used.  For example the following could copy the 1st 255 bytes of `b1` to `dest` starting at offset 1024.

[code]

However, calling subsequence will allocate an intermediate Bytes object.  To avoid this, we could have a method like `copyTo(int sourceOffset,  byte[] dest, int des

[2017-05-08 19:27] keith-turner opened #830 "Optimize ByteArrayUtil.concat()"
`static byte[] ByteArrayUtil.concat(Bytes ... listOfBytes)` has the following performance problems

 * It uses ByteArrayOutputStream() which has synchronized public methods.  This only used by a single thread and in the past I have observed this unnecessary synchronization can have significant consequences.
 * It takes var args, however the most frequent use of it passes two arguments.  This resul

[2017-05-08 19:44] keith-turner commented on #830
Accumulo just avoid the output stream altogether.

https://github.com/apache/accumulo/blob/master/core/src/main/java/org/apache/accumulo/core/util/UnsynchronizedBuffer.java

[2017-05-09 15:17] #829 closed

[2017-05-09 22:06] keith-turner opened #833 "Make observed columns an immutable set"
The internal set used to track observed columns should be immutable sets.  I mistakenly suggested clearing one of these sets in a PR and it broke Fluo.

[2017-05-09 22:58] mjwall commented on #827
I can take a swing at this one.  Is there a way for us to assign issues in GH?

[2017-05-10 04:35] keith-turner commented on #827
Not yet, but hopefully soon [INFRA-14121](https://issues.apache.org/jira/browse/INFRA-14121)

[2017-05-10 13:59] #809 closed

[2017-05-11 17:19] keith-turner opened #834 "Seeing spurious NPE in worker logs"
Saw the following exception in worker logs while testing 1.1.0-SNAP.  I was using commit 4055cdfbe13eb34f8830db3ba2201c6428d26fd4

I think at [Oracle client line 117][1] that `leaderSelector` needs to be created before stating `pathChildrenCache`

[1]: https://github.com/apache/incubator-fluo/blob/4055cdfbe13eb34f8830db3ba2201c6428d26fd4/modules/core/src/main/java/org/apache/fluo/core/oracle/Oracl

[2017-05-11 18:02] keith-turner opened #835 "Collision trace logging does not hex escape data"
While trying to debug some unexpected collisions in webindex, I noticed that logging of collisions does not hex escape binary data like other transaction trace logging does.
[code]

[2017-05-11 18:28] keith-turner commented on #829
Things are much better after this change

![image](https://cloud.githubusercontent.com/assets/1268739/25965473/174c9a28-3656-11e7-93f1-1a227841d518.png)

[2017-05-16 18:22] keith-turner opened #839 "Stress test hangs with unprocessed notifications."
When running the Fluo Stress test locally against 1.1.0-SNAPSHOT, sometimes it hangs with unprocessed notifications.  These notifications never get processed. I took head dump of the workers and see that the map that tracks notifications has entries in it that indicate notifications are queued.  However nothing is being done with these.

[code]

[2017-05-17 14:47] #834 closed

[2017-05-17 14:47] #835 closed

[2017-05-18 19:57] mjwall commented on #203
@keith-turner looks like a dup #205, can you delete?

[2017-05-18 20:43] mjwall commented on #830
I'd like to try this one too unless someone else is working on it

[2017-05-19 00:37] #827 closed

[2017-05-19 14:45] #839 closed

[2017-05-19 15:18] mikewalch opened #842 "Support multiple ways for running Fluo Applications as downstream projects"
Currently, Fluo is very bound to running in YARN using Twill.  A lot of Twill code is use to implement parts of the `fluo` command.  The current Twill/YARN code should be deprecated and downstream projects should be created to help users run Fluo applications as local processes, in YARN, docker, Maraton, etc.

[2017-05-19 15:53] mikewalch opened #843 "Rename FluoConfiguration properties"
For #842, the properties in FluoConfiguration should be renamed to reflect in the new names in `connection.properties` and `application.properties` of the new downstream Fluo launch repos:

* [fluo-local](https://github.com/mikewalch/fluo-local/tree/master/conf)
* [fluo-yarn](https://github.com/mikewalch/fluo-yarn/tree/master/distribution/conf)

[2017-05-19 16:03] mikewalch opened #844 "Support loading FluoConfiguration from multiple files"
For #842, downstream repos that run Fluo split `fluo.properties` into `connection.properties` and `application.properties`. `FluoConfiguration` should support loading multiple configuration files.

[2017-05-19 16:11] mikewalch opened #845 "Create FluoInit command"
For #842, a initialization main method needs to be created that accept configuration files and initializes the application.
[code]

Initialization should also stored configuration in Zookeeper so it can be retrieved later.  Application jars should also be loaded to HDFS.

[2017-05-19 16:15] mikewalch opened #846 "Retrieve FluoConfiguration from Zookeeper using app name & connection.properties"
For #842, the API needs to be improved so that if a Fluo application was previously initialized, it's FluoConfiguration can be built by simply having connection.properties to Fluo instance and the application name.

[2017-05-19 16:22] mikewalch opened #847 "Create FluoGetJars command"
For #842, the jars for Fluo application are loaded to HDFS during initialization.  There needs to command to retrieves these jars and copy them to local directory.

[code]

[2017-05-19 16:25] mikewalch opened #848 "Create FluoOracle command"
For #842, create command that runs Oracle if given connection.properties and the application name.
[code]

[2017-05-19 16:26] mikewalch opened #849 "Create FluoWorker command"
For #842, create command that runs Worker if given connection.properties and the application name.
[code]

[2017-05-19 16:28] mikewalch opened #850 "Create FluoScan command"
For #842, create command that scans Fluo if given connection.properties and the application name.
[code]

[2017-05-19 16:29] mikewalch opened #851 "Create FluoList command"
For #842, create command that lists Fluo applications if given connection.properties.

[code]

[2017-05-19 16:39] mikewalch opened #852 "Create FluoWait command"
For #842, create command that waits for all notifications for a Fluo application to be processed if given connection.properties and the application name.
[code]

[2017-05-19 16:43] mikewalch opened #853 "Create FluoYarnLauncher"
For #842, This class should be created in "fluo-yarn" repo to launch a Fluo application in YARN using Twill.
[code]

[2017-05-22 14:38] keith-turner commented on #844
Could add load methods to SimpleConfiguration.  It already has save methods.

[2017-05-22 14:48] keith-turner commented on #846
Why does the configuration need to be retrieved from zookeeper?  What sequence of events will a user take with this functionality?

[2017-05-23 16:42] mikewalch opened #854 "Exception while building javadoc"
[code]

Can be fixed by replacing `>` with `&gt;`

[2017-05-25 03:06] ctubbsii opened #856 "Failed test: BytesTest.testCopyToWithUnicode"
Recently fixed Jenkins builds (was pointing to old git repo, prior to move to gitbox) and saw a [failed test][1] for `org.apache.fluo.api.data.BytesTest.testCopyToWithUnicode`:

[code]

[1]: https://builds.apache.org/view/F/view/Fluo/job/Fluo/org.apache.fluo$fluo-api/118/testReport/junit/org.apache.fluo.api.data/BytesTest/testCopyToWithUnicode/

[2017-05-25 15:02] cjmctague commented on #856
Interesting. Which encoding is Jenkins using? The test called `.getBytes()` which is using the default system encoding. The result of `15` is assuming the encoding is `UTF-8` I believe. Locally I'm getting the result of `15` and the only way I can produce a result of `10` is by using the encoding `.getBytes("CP1252")`

[2017-05-25 16:49] keith-turner opened #857 "Add a quick profile to pom that disables sanity checks"
I often find myself doing thing like the following to quickly run some maven action.

[code]

I think it would be nice to add a profile to maven that disables all of these things.  Maybe something like the following.

[code]

[2017-05-25 18:18] keith-turner opened #858 "Notification scanner slept max time when tablets changed"
I noticed this while running the stress test.  The test started the Fluo app and then later added splits to the table.  Fluo eventually noticed these new splits and when it did scanned 0 tablets and then slept for 5 mins (which is the max time to sleep between tablet scans).   This case could be handled in a more responsive way.

[code]

[2017-05-25 20:51] ctubbsii commented on #857
I would not recommend doing this at the project level. It can encourage bad behavior among people who don't understand the implications of these flags. It's probably better to create per-user profiles in your `~/.m2/settings.xml` file based on your individual needs/preferences, which an understanding of what these do, than to do it for all developers on the project.

[2017-05-25 21:07] ctubbsii commented on #856
CP1252 appears to be the default for Windows. Jenkins may have some builders which run on Windows.

[2017-05-30 15:26] keith-turner commented on #857
All tools can potentially be misused, but I don't think that is a good argument for not making a tool.  The profile would be off by default.  So it would be up to someone to make a choice to use it.

That's a good idea, but it would be nice to share.  Also, the settings may differ between versions of Fluo.  Putting it in the project pom allows devs to share and easily obtain the benefits when othe

[2017-05-30 19:11] ctubbsii commented on #857
My argument isn't that it *could be* misused. My argument is that it *encourages* misuse. Off by default helps, but relying on users to set their own flags, based on an understanding of what they are actually trying to accomplish, is better.

The above profile, if baked in to the project POM and documentation, encourages people to use `-Pquick` without any understanding at all about what checks ar

[2017-05-30 20:14] keith-turner commented on #857
I can't agree with this argument for its non-existence.  The main reason I can think it should not exist is that it adds to the effort required to understanding the pom, which is a maintenance burden.  I think this is a very small burden for this change, however lots of additions like these would make understanding the pom burdensome.  If no one else is interested in this change I will not add it,

[2017-05-30 20:26] ctubbsii commented on #857
+1 for `skipQA` as the name, if you end up deciding to add this later.

[2017-05-30 21:29] mikewalch opened #860 "Fix name of ParitionManger class"
The name of the class `ParitionManager` should be fixed and renamed to `PartitionManager`.

[2017-05-30 21:37] mikewalch commented on #857
+1, I like the idea of the profile. `skipQA` would be better name.

[2017-05-31 15:46] keith-turner commented on #860
The misspelled name bleeds through to the logs.

[code]

[2017-06-01 18:48] #858 closed

[2017-06-01 18:50] #857 closed

[2017-06-01 18:53] #860 closed

[2017-06-01 19:28] asfgit commented on #37
test from asfgit

[2017-06-01 21:17] ctubbsii commented on #856
Test comment. Please ignore.

[2017-06-02 17:01] keith-turner opened #866 "Create RC script creates email with wrong commit"
I just used the `create-release-candidate.sh` script to generate the email for 1.1.0 RC1.  The script generated an email with wrong commit.  It used the 1st commit on the RC branch, when it should have used the second commit.

[2017-06-02 17:02] keith-turner commented on #866
Actually I think I created the RC branch incorrectly

[2017-06-02 17:02] #866 closed

[2017-06-02 21:06] keith-turner opened #867 "Add stream support to Scanners"
It would be really nice if the fluo scanners had methods to return java streams.

[2017-06-03 02:13] ctubbsii commented on #866
In case anyone looks at this in the future, the RC branch should be the first commit made by `release:prepare`. The second commit is the bump to the next snapshot version, which will be the version in the resulting maintenance branch (if there is one) after the release.

[2017-06-06 16:59] keith-turner opened #868 "Update voting text in release candidate script"
[On the mailing list][1] it was suggested that the release candidate script generate an email that establishes a minimum voting time, with the end of the vote actually called by the RM.

Below is the suggestion that @mikewalch  made on the list.

[code]

[1]: https://lists.apache.org/thread.html/6e83fc644437c41ace5847d1cd5622f8174f7e0f8dfd1a30a8fd7116@%3Cdev.accumulo.apache.org%3E

[2017-06-06 17:58] keith-turner opened #871 "Consider moving integeration test into src/main"
During the 1.1.0-rc1 vote, @ctubbsii  identified the following issues

 * fluo-integration-1.1.0-incubating-tests.jar is missing both corresponding source and javadoc jar
 * fluo-integration-1.1.0-incubating.jar is missing a corresponding javadoc jar

Given that the integration module has nothing in `src/main` that is the [suspected cause][list]

[list]: https://lists.apache.org/thread.html/c573a1

[2017-06-06 18:00] #868 closed

[2017-06-06 18:14] keith-turner opened #872 "Clean up spurious error messages during build"
Some integration test emit spurious error messages during `mvn verify` even though the test pass.  These need to be fixed so that new errors are not ignored.

[2017-06-07 16:40] keith-turner commented on #868
https://lists.apache.org/thread.html/2df9e1a0a37311f25074afe674871239e7815b1d33152bc924d895eb@%3Cgeneral.incubator.apache.org%3E

[2017-06-07 19:52] cjmctague commented on #830
@keith-turner Could we utilize the `UnsynchronizedBuffer` class in fluo? It would eliminate the problems here. I used it and got it to work for this applications but you know we can't import non-public classes.

[2017-06-08 15:39] keith-turner commented on #830
We could copy it.  Since its not part of Accumulo public API, would not want to use it from Accumulo.

[2017-06-08 16:10] keith-turner commented on #830
@cjmctague I just looked that Accumuo class.  We don't need to copy the entire thing.  We could just copy and modify what we need.  Could possibly create two methods.  A method tells how many bytes an integer will use `int vLen(int i)` and a method writes a vint directly to a byte array `void writeVint(byte[] dest, int offset, int i)`.

[2017-06-12 23:41] keith-turner commented on #790
Only checking files with detached sig would miss file that was missing a detached sig.  For example if a jar was missing a signature for some reason.   Maybe could find the list of all files that are not sig or hash and check those.

[2017-06-13 00:06] ctubbsii commented on #790
Here's one that checks all files downloaded:
[code]

This assumes the download of the staging repo skipped webserver generated content, and maven repo content, as in:

[code]

[2017-06-13 15:57] mikewalch opened #873 "Upgrade Fluo version in docs"
Versions should be `1.1.0-incubating`

[2017-06-14 18:10] ctubbsii commented on #856
Our Jenkins jobs are configured to run on "Hadoop||ubuntu" nodes, which should all be Linux, so I'm really not sure why this is happening. Either way, the test could be fixed so that line 334 call to `getBytes()` passes in `StandardCharsets.UTF_8`.

[2017-06-20 15:42] #833 closed

[2017-06-23 15:23] #830 closed

[2017-06-26 20:44] cjmctague commented on #854
Fixed in 1dd363111f9e5a760f0963bf4071ad6065e97486

Closed.

[2017-06-26 20:44] #854 closed

[2017-06-27 15:44] #873 closed

[2017-06-27 18:06] keith-turner opened #878 "Logging test failed on Travis"
Saw the follwing failure when Travis was building #877

[code]

[2017-06-27 18:11] keith-turner commented on #878
The regex is looking for `txid: 8 close()` but its not there.  Seems like a timing issue.

[2017-06-27 18:54] cjmctague opened #879 "CollisionIT test failed on Travis"
Travis error for the latest Commit: 4f255a41de2bef60cf38a484b4ce91b3dea2e84f

[code]

[2017-06-27 18:59] mikewalch commented on #879
I think this is a sporadic test failure as 4f255a41de2bef60cf38a484b4ce91 only contains documentation changes

[2017-06-27 19:04] cjmctague commented on #879
Thats what I assumed but was just documenting it

[2017-06-27 19:22] keith-turner commented on #879
That's the correct thing to do.  Anytime we see a failure unrelated to the PR, we should open an issue.  However, I don't always do this.  I think this is a duplicate of #585.

[2017-06-28 15:20] #878 closed

[2017-07-03 18:39] sebbASF opened #881 "Fluo website does not have obvious link to issue tracker"
As the subject says: it's not at all obvious how to report bugs and raise enhancement requests.

[2017-07-03 18:43] ctubbsii commented on #881
On the front page, there is a link in the menu to "How To Contribute". A few sentences down is the statement: "Create an issue that describes the work. Each Fluo repository has its own issue tracker: Fluo, Fluo Recipes, Fluo Website" with links to each issue tracker.

Is this insufficient? Do you have any suggestions to make it more obvious?

[2017-07-03 19:02] mikewalch commented on #881
There are also links to the issue trackers under "User Feedback" at https://fluo.apache.org/getinvolved/

[2017-07-03 19:10] sebbASF commented on #881
It's not at all obvious.

Although technically I suppose reporting a bug or requesting an enhancement is contributing, that's not how I think of it. I suspect others will agree.

The first section implies that the page is all about contributing code.
If I just want to report a bug, obviously the page is not relevant to me. Why should I read further?

And the page buries the links in the Contributi

[2017-07-03 19:21] ctubbsii commented on #881
@sebbASF I'm concerned about adding a top-level link to the issue tracker, because menus that are too full of options can be bad for usability. It'd be nice to keep things organized. I accept that there's room for improvement. But, do you have a specific change to suggest, which balances the desire to keep things organized without too many top-level menu items, but which doesn't bury the informati

[2017-07-10 14:04] cjmctague commented on #881
We could do something like this

| Releases | Tour | Community        | Contribute        | Issue Tracking |
|:--------:|------|------------------|-------------------|----------------|
| Download |       | Get Involved          | How to Contribute | Fluo Issues      |
| API            |       | News Archive        | Release Project   | Recipe Issues     |
| Docs         |       | People

[2017-07-10 20:12] mikewalch commented on #867
It looks like what is needed for this issue is a `stream()` method should be added to `CellScanner`, `ColumnScanner`, `RowScanner` like below:

[code]

For more information on streams, check out [this stackoverflow question](https://stackoverflow.com/questions/23114015/why-does-iterablet-not-provide-stream-and-parallelstream-methods) and [this tutorial](http://winterbe.com/posts/2014/07/31/java8-s

[2017-07-10 20:58] ctubbsii commented on #881
Not a big fan of a top level menu item just for issue tracking. That's just one facet of the whole project. If every facet got a top-level menu, that would be quite bloated of a menu. Maybe a "Contact" menu which includes links to mailing lists, IRC, and "Report issues" to the various repos instead?

I've also been thinking that the "Contribute" menu could be consolidated with the "Community" menu

[2017-07-10 20:59] ctubbsii commented on #881
Or, maybe we just need one big "How To..." menu? It could have items such as "... get involved", "... contact us", "... view the source code", etc.

[2017-07-10 21:04] mikewalch commented on #881
+1. I like this idea.

Instead of a new menu, I think we should have a FAQ page under the consolidated "Community" menu with some answers to some of these questions.

[2017-07-10 21:09] ctubbsii commented on #881
FAQ works for me.

[2017-07-11 15:24] cjmctague commented on #856
[code]
Broke another test with the fix in 3302fd6

[2017-07-17 20:32] keith-turner commented on #881
I opened PR apache/incubator-fluo-website#71 to more directly communicate how to open issues.  The current documentation is not straightforward.

I agree w/ @sebbASF that a more direct link to issue tracking on the website would be nice for users.  You do have to dig a bit to find them.  However, I agree with @ctubbsii in that I can not think of a good way to implement it.  The main problem seems

[2017-07-25 12:48] #867 closed

[2017-07-25 13:39] mikewalch opened #885 "Remove Thrift log spam when using Accumulo 2.0"
When Fluo is used with Accumulo 2.0, it uses Thrift 0.10 which spams the logs with a debug statement `Received <NUM>`.  Below are links to the Thrift issue and how Accumulo resolved it.

https://issues.apache.org/jira/browse/THRIFT-4062

https://issues.apache.org/jira/browse/ACCUMULO-4551

[2017-07-25 19:13] ctubbsii commented on #885
Would be good to get more people to pressure Thrift on that issue to release a 0.10.1 with only this fix.

[2017-07-28 15:57] keith-turner opened #893 "Support locking down properties in zookeeper"
It would be nice to support locking down what Fluo stores in zookeeper.  An example use case is : for export purposes I have stored accumulo credentials in zookeeper as Fluo app props.

For example could have an **optional** connection property like :

[code]

If this is set at init time, then the zookeeper root node would be locked down such that it can only be read/written using that password.

[2017-07-28 16:03] keith-turner opened #894 "Support merging multiple SimpleConfiguration objects"
It would be nice to be able to merge multiple simple configuration objects.   I don't think there is anything the current API that would easily facilitate this.

[code]

[2017-07-28 19:11] keith-turner commented on #894
Another possible API for this is a static varargs merge method.  The method would take a few configs and return a new config that has the props of all.

[code]

[2017-08-03 13:53] mikewalch opened #895 "Improve 'fluo list' to print number of running oracles and workers"
This was brought up in review of #883

[2017-08-03 13:58] mikewalch opened #896 "Limit connections to Zookeeper"
The method `FluoAdminImpl.mergeZookeeperConfig` currently creates a curator to connect to Zookeeper.  This method could accept a curator object and calls to it could be changed to limit the number of connections to Zookeeper.

[2017-08-03 15:22] keith-turner opened #897 "Add high level application lifecycle overview to docs"
I think application documentation needs a high level overview that helps users understand the lifecycle of an application and how the commands and config all fit together.

Also while working on this, I think it would make sense to move the application specific docs in the install docs to the application docs.

Below is an outline of the docs I am thinking about.

## Application Lifecycle

 * **In

[2017-08-03 16:20] keith-turner commented on #897
Also need to add docs about updating whats stored in zookeeper

[2017-08-04 00:13] keith-turner commented on #896
Noticed that `CommandUtil.verifyAppInitialized()` also creates a curator.

[2017-08-04 15:13] mikewalch opened #898 "Determine if FluoExec should read config from Zookeeper"
Prior to #883, FluoExec read all configuration in fluo.properties and provided user with `FluoConfiguration` with everything set.  After #883, all configuration is still provided but it is read from Zookeeper.  This keeps expected behaviour but requires application to be initialized and Zookeeper to be running.  This ticket is figure out the best behaviour.  If the read from Zookeeper is removed,

[2017-08-04 15:19] #842 closed

[2017-08-04 19:10] keith-turner commented on #898
One possible way to handle this issue is to only use the fluo-conn.props if ZK not initialized.

[2017-08-04 21:51] keith-turner opened #900 "Document properties in FluoConfiguration javadoc"
In #899  I added the following methods to [FluoConfiguration](https://github.com/apache/fluo/blob/master/modules/api/src/main/java/org/apache/fluo/api/config/FluoConfiguration.java).  Would be nice to add the info about the property being set or got to all getters and setters in FluoConfiguration.  Specifically, adding something like  `Gets/Sets the value of the property {@value #CONNECTION_ZOOKEE

[2017-08-04 22:06] keith-turner commented on #900
I added this task to https://helpwanted.apache.org

[2017-08-07 14:43] keith-turner opened #901 "Reformat properties"
I find the following hard to read.

[code]

I am thinking that adding an empty line like the following would make it easier to parse.

[code]

[2017-08-07 14:52] mikewalch commented on #901
Sounds good to me.  It is hard to read in its current form.

[2017-08-08 09:03] kpm1985 commented on #900
That's where I found it. I'd like to pick up this task if if that's alright.

[2017-08-08 14:01] mikewalch commented on #900
Thanks @kpm1985!

[2017-08-08 14:34] keith-turner commented on #900
That would be great @kpm1985 I will assign the task to you.  Let us know if you have any questions.  Below are the commands to build the javadoc.

[code]

[2017-08-08 14:40] keith-turner commented on #900
@kpm1985 Github is not allowing me to assign the issue to you, however its all yours.

[2017-08-08 20:54] mikewalch commented on #846
Closed by #883

[2017-08-08 20:54] #846 closed

[2017-08-08 20:54] mikewalch commented on #847
Closed by #883

[2017-08-08 20:54] #847 closed

[2017-08-08 20:54] mikewalch commented on #848
Closed by #883

[2017-08-08 20:54] #848 closed

[2017-08-08 20:54] mikewalch commented on #849
Closed by #883

[2017-08-08 20:54] #849 closed

[2017-08-08 20:55] mikewalch commented on #850
Closed by #883

[2017-08-08 20:55] #850 closed

[2017-08-08 20:55] mikewalch commented on #851
Closed by #883

[2017-08-08 20:55] #851 closed

[2017-08-08 20:55] mikewalch commented on #845
Closed by #883

[2017-08-08 20:55] #845 closed

[2017-08-08 20:55] mikewalch commented on #852
Closed by #883

[2017-08-08 20:55] #852 closed

[2017-08-08 20:56] mikewalch commented on #843
Closed by #883

[2017-08-08 20:56] #843 closed

[2017-08-08 23:13] kpm1985 commented on #900
Sorry, it could have been because I hadn't forked yet, not sure, but thank you for the opportunity. I'm looking forward to having fun and finishing this before I resume school.

[2017-08-09 21:29] #897 closed

[2017-08-09 22:22] mikewalch opened #906 "Create 'fluo get-jars' command"
Command will retrieve application jars store in HDFS to a local directory

[2017-08-11 14:57] #906 closed

[2017-08-11 15:10] keith-turner opened #908 "Discuss get jars behavior"
For get jars command add in #907 the command expects the target directory to exist but does not care if the directory is non-empty.  I found myself wondering if the behavior should change or if the docs should be improved to clearly state the behavior for a non-empty dir while looking at the PR.  I was not sure.  Below are some thoughts I had.

 * Should the get jars command create the dir?
 * If

[2017-08-13 11:41] kpm1985 commented on #900
This is still a work in progress, but it would be appreciated if you could give a quick review to make sure I'm not over/under documenting anything so far. I plan on finishing this up tomorrow, and making the suggested changes as soon as I get them :)

https://github.com/kpm1985/fluo/blob/fluo-900/modules/api/src/main/java/org/apache/fluo/api/config/FluoConfiguration.java

[2017-08-14 14:16] keith-turner commented on #900
@kpm1985 I opened kpm1985/fluo#1 and made some comments.

[2017-08-14 14:59] #894 closed

[2017-08-14 15:30] #893 closed

[2017-08-15 14:39] mikewalch opened #909 "Move netty jar to lib/twill"
The netty jar (included for #820) only need to be in `lib/twill` directory

[2017-08-15 21:07] mikewalch opened #912 "Create 'fluo status' command"
There should be a `fluo status <app>` command to check status (i.e `UNINITIALIZED`, `RUNNING`, & `STOPPED`) of Fluo application.  This would be helpful for downstream launchers.

[2017-08-16 13:48] #909 closed

[2017-08-16 13:54] mikewalch commented on #912
I think `NOT_FOUND` is better than `UNINITIALIZED`

[2017-08-16 16:55] cjmctague commented on #879
[code]
https://travis-ci.org/apache/fluo/jobs/265159869

[2017-08-16 21:43] mikewalch opened #914 "Allow configuration to be passed to 'fluo oracle' & 'fluo worker' commands"
The `fluo oracle` and `fluo worker` should be able to support the following syntax to override the configuration read from `fluo-conn.properties`:

[code]

[2017-08-17 12:07] keith-turner commented on #914
Instead of comma separate could do multiple options like maven and java.  With maven and java can specify `-D` multiple times.

[2017-08-18 19:55] #912 closed

[2017-08-31 16:21] #914 closed

[2017-09-05 17:16] keith-turner opened #917 "Add explicit read locks"
The percolator paper mentioned that read locks were not implemented because they were usually uneeded and expensive.  I agree with this, in most situations you do want to read data without a read lock.  However I do find that sometimes I would like a read lock.  For example consider a use case with graph type data.  An edge is added to Fluo and joined with information from the two nodes it connect

[2017-09-07 14:22] mikewalch opened #918 "Prevent splitting along commas for -D option"
Ran into problem where `-D fluo.zookeeper.connect=host1,host2,host3/fluo` split along commas.  Jcommander parsing for `-D` option should avoid this type of splitting.

[2017-09-11 14:31] #918 closed

[2017-09-13 14:06] keith-turner opened #920 "Rolled back locks may cause collisions"
While working on #917 I realized that rolled back locks may unnecessarily cause collisions. If a transaction could only lock a subset of columns, then it will fail and rollback the locks it did acquire.  These rolled back locks should not cause other transactions to fail.  It seems that the code may treat these rolled back locks as successful locks which can cause other transaction to fail unneces

[2017-09-13 14:19] keith-turner opened #921 "Ensure allocated timestamps are valid."
Fluo uses the first three bits of the Accumulo timestamp for its own metadata.  Therefore when allocating timestamps its important to ensure that the first three bits are always zero.  A good place to do this check would be the [Stamp](https://github.com/apache/fluo/blob/master/modules/core/src/main/java/org/apache/fluo/core/oracle/Stamp.java) constructor.  The check should ensure that the passed

[2017-09-13 14:24] keith-turner commented on #921
I posted this on Apache's https://helpwanted.apache.org/.  Anyone coming from there and wishing to attempt this task, please feel free to ask any questions you have here.

[2017-09-13 14:25] keith-turner commented on #900
@kpm1985 are you still working in this?  Do you need any assistance?

[2017-09-13 15:16] kpm1985 commented on #900
I am still working, sorry for sitting on this. This should be finished
before the weekend.

On Sep 13, 2017 7:25 AM, "Keith Turner" <notifications@github.com> wrote:

[2017-09-18 16:13] keith-turner opened #923 "Inline Span static methods in Scanner builder"
To build a scanner over a row, something like the following needs to be done.

[code]

It would be nice to be able to do something like following instead.

[code]

This fluent style would make writing code in an IDE with code completion more seamless.  To accomplish this I think the following methods should be added to [ScannerBuilder](https://github.com/apache/fluo/blob/rel/fluo-1.1.0-incubating/

[2017-09-18 18:49] codeandplay commented on #923
@keith-turner I can have a go on this issue, Thanks

[2017-09-18 18:57] keith-turner commented on #923
Sounds good @codeandplay I look forward to your PR.  If you have any questions, feel free to ask here.

[2017-09-20 14:27] keith-turner opened #924 "Support direct comparisons between byte[] and Bytes"
When comparing byte[] and Bytes, this currently requires an allocation and a copy.  It would be nice to be able to do direct comparisons.   To avoid copy+allocation, could possibly add the following methods to [Bytes](https://github.com/apache/fluo/blob/rel/fluo-1.1.0-incubating/modules/api/src/main/java/org/apache/fluo/api/data/Bytes.java).

[code]

[2017-09-20 19:09] mikewalch opened #925 "Move Fluo documentation to project website"

[2017-09-22 00:02] stippireddy commented on #900
@keith-turner : Looks like this issue is still pending. I can pick it up.

[2017-09-22 02:58] keith-turner commented on #900
@stippireddy that would be great

[2017-09-22 17:23] adepuravikrishna commented on #921
Hello Keith-turner, I would be interested in working on this issue. Is guava dependency added already to this project?

[2017-09-22 19:35] keith-turner commented on #921
@adepuravikrishna yes, guava is already a dependency.

[2017-09-22 19:39] keith-turner commented on #900
@stippireddy there is a PR for this issue now #928

[2017-09-22 20:08] keith-turner commented on #924
If interested in implementing this take a a look at [compareTo(Bytes)](https://github.com/apache/fluo/blob/rel/fluo-1.1.0-incubating/modules/api/src/main/java/org/apache/fluo/api/data/Bytes.java#L199) and [equals(Object)](https://github.com/apache/fluo/blob/rel/fluo-1.1.0-incubating/modules/api/src/main/java/org/apache/fluo/api/data/Bytes.java#L222).  Maybe all of these methods could be refactored

[2017-09-22 20:28] adepuravikrishna commented on #921
Should it throw IllegalArgumentException when the a & b condition result is does not satisfy the 3 zeros condition?  and also should this check applies to both stamp, gcStamp variables?

[2017-09-22 20:38] keith-turner commented on #921
yes, with a good error message.

yes, the check should be done for both

[2017-09-22 20:43] adepuravikrishna commented on #921
@keith-turner Thanks a lot for quick response. Currently I am running mvn package but having issues with building the project. Hopefully I can figure it out myself.

[2017-09-22 20:51] keith-turner commented on #921
Feel free to post a link to your branch or share the error messages you are seeing from maven.

[2017-09-23 02:50] adepuravikrishna commented on #921
@keith-turner Just created a pull request. Could you please review and comment the changes?

[2017-09-24 18:04] #921 closed

[2017-09-24 18:10] adepuravikrishna commented on #924
@keith-turner  I would be interested in working on this issue.

[2017-09-25 19:13] #925 closed

[2017-09-27 14:39] keith-turner commented on #815
The source for the fluo logo for dark backgrounds is here.

https://github.com/apache/fluo/blob/master/contrib/fluo-logo-dark.svg

[2017-09-27 16:08] #900 closed

[2017-09-27 16:38] keith-turner commented on #923
@codeandplay did you have any questions about this issue?

[2017-09-27 20:13] kpm1985 commented on #923
If this is up for grabs I'd like to take a shot, if not please keep me in mind for the next help wanted as it was very nice working with you.

[2017-09-27 22:38] codeandplay commented on #923
Hi Keith,

Sorry for the delay of the fix, I have been held up with other work last
week. I will be probably the same for the this week and next. If @Kenneth
would like to take over, I am happy if he want to have a go. @Keith sorry
again about this.

On 27 September 2017 at 21:13, Kenneth Paul McFarland <
notifications@github.com> wrote:

[2017-09-28 02:37] keith-turner commented on #923
Thanks @kpm1985 .  Looks like its open, if you want to give it a shot.

[2017-09-28 03:07] kpm1985 commented on #923
I will take it and thanks for letting me adopt this issue.

On Sep 27, 2017 7:37 PM, "Keith Turner" <notifications@github.com> wrote:

[2017-09-28 23:14] ctubbsii opened #933 "[fluo-parent] Formatter doesn't appear to format javadocs"
Ran into revelc/formatter-maven-plugin#192 today using the new parent POM. Not sure what the problem is, but we may want to avoid using the new formatter until that's fixed. Might require going back to the old parent POM, or releasing a new one which reverts the formatter plugin version to what we were using before.

If javadocs aren't formatted, they can easily exceed the max line length and caus

[2017-09-29 02:47] jkosh44 commented on #924
Is this being worked on? I'd love to give it a shot.

[2017-09-29 02:52] ctubbsii commented on #924
@jkosh44 It's all yours if you want it. Whatever implementation you come up with, I'll probably also roll in to apache/fluo-bytes#2

[2017-10-01 00:54] KrishAmal commented on #815
Hey @keith-turner  I would like to work on this  . How about a light blue color drip ?

[2017-10-01 14:39] keith-turner commented on #815
Great @KrishAmal I look forward to your PR.

Yeah I think that is whats needed, not sure how light.

If it helps, I think the SVG files were created using [Inkscape](https://inkscape.org/).

[2017-10-01 15:08] KrishAmal commented on #815
Yes , Is this color okay ?
![image](https://user-images.githubusercontent.com/4433284/31055865-3cbcc4de-a6e7-11e7-8dd6-75afadff27ee.png )

[2017-10-02 01:32] jkosh44 commented on #924
Hey I'm getting a 403 error when I try and push my code, any idea what's going on?

[2017-10-02 05:49] ctubbsii commented on #924
@jkosh44 To where are you attempting to push your code? What is the URL of the git remote you are pushing to?

[2017-10-02 15:25] keith-turner commented on #815
@KrishAmal that looks good.  Have you tried against a dark background?  I think that will contrast well.

[2017-10-02 23:46] jkosh44 commented on #924
I was running "git push origin fluo-924" (the branch I created). my remote url is https://github.com/apache/fluo.git

[2017-10-02 23:55] keith-turner commented on #924
@jkosh44 you need to fork the apache repo, push your changes to your fork, and then create a pull request.

https://help.github.com/articles/fork-a-repo/
https://help.github.com/articles/about-pull-requests/

[2017-10-03 00:27] jkosh44 commented on #924
Thanks, I missed that step. I made my fork, pushed my code, and a created pull request.

[2017-10-03 04:22] KrishAmal commented on #815
@keith-turner yes , it looks fine . The change should be made only for the dark logo right ?
![fluodark](https://user-images.githubusercontent.com/4433284/31109868-543fea8e-a820-11e7-897a-2c52d2919cb0.png)

[2017-10-03 13:43] keith-turner commented on #815
@KrishAmal looks good.  Yeah, only need to change the dark logo.

[2017-10-04 14:18] #924 closed

[2017-10-05 15:57] AshishPB commented on #923
Is the issue taken or can I take it ?

[2017-10-05 17:54] kpm1985 commented on #923
I talked to Keith, if you want it, take it AshishPB.

On Thu, Oct 5, 2017 at 8:57 AM, AshishPB <notifications@github.com> wrote:

[2017-10-06 19:40] keith-turner commented on #920
Further, if a transaction fails to get a lock and then rolls back an existing lock then it can re-attempt getting its lock.

[2017-10-07 22:44] jevalen4868 commented on #923
Hey folks, new guy here. Please let me know if this one is up for grabs.

[2017-10-08 23:03] kpm1985 commented on #923
@jeremy

I have vacated this issue but others have shown interest. Please file a
pull request with WIP to let everyone know your have claimed and are
working on this issue. I hope I have phrased this correctly.

On Sat, Oct 7, 2017 at 3:44 PM, Jeremy Valenzuela <notifications@github.com>
wrote:

[2017-10-10 03:43] jkosh44 commented on #923
I've seen this pass through a bunch of hands, so I'm gonna hop on line. If this frees up I'd like to give it a shot.

[2017-10-10 14:59] #815 closed

[2017-10-10 15:36] keith-turner opened #938 "Make transaction info cache size configurable."
Fluo caches information about failed transactions.  This helps speed up the case where multiple row/cols were modified by a failed transaction.  Currently this cache size is hard coded.  Also the timeout of the cache is hard coded.  It would be nice change these to impl properties.  Impl properties are ones that are not part of the public API and are tightly coupled to an internal implementation t

[2017-10-10 16:01] kpm1985 commented on #938
@keith I would like to take a crack at this one if possible simply due to the classes tight coupling with FluoConfiguration.

[2017-10-10 16:09] keith-turner opened #939 "Make TransactorCache size configurable"
In Fluo, a Transactor is a process that executing transactions.  Each transactor has a  unique ID and registers itself in Zookeeper.  When a transaction reads data that another transaction has a lock on it needs to check in Zookeeper to see if the transactor executing the transaction is still alive.  Frequently checking in Zookeeper would be expensive, so this information is cached.  Currently the

[2017-10-10 19:04] jkosh44 commented on #923
Don't mean to steal this from anyone. Just saying if it opens up again I'd like to work on it.

[2017-10-10 21:58] keith-turner commented on #923
I hope I didn't give that impression with my last post.  I didn't think you were attempting to do that.  I was just airing my thoughts based on activity I have seen on multiple issues posted to helpwanted.  I was not actually responding to anything in particular on this issue, until the last sentence.

That is one thing I was trying to determine, is it open?

[2017-10-10 22:12] kpm1985 commented on #939
I would like to tackle this issue is possible please.

[2017-10-10 22:13] kpm1985 commented on #939
Whoops, thought this was 938 sorry, please disregard.

[2017-10-11 03:23] jkosh44 commented on #923
Gotcha, might as well give @AshB2108 some time to respond

[2017-10-11 22:09] keith-turner commented on #938
@kpm1985 that would be great if you could work on it

[2017-10-11 22:10] kpm1985 commented on #938
YES!!!

On Oct 11, 2017 3:09 PM, "Keith Turner" <notifications@github.com> wrote:

[2017-10-11 22:13] kpm1985 commented on #938
I am going to begin working on this immediately. Thank you for giving me
#938.

On Oct 11, 2017 3:10 PM, "Kenneth Mcfarland" <kennethpaulmcfarland@gmail.com>
wrote:

[2017-10-12 02:53] ctubbsii commented on #923
In my personal opinion, I think you can just start. You can always put a link to your personal branch, so others can collaborate with you on what will eventually be just a single pull request to the upstream Apache Fluo repository. Git being a distributed version control system is nice that way.

[2017-10-12 02:54] ctubbsii commented on #923
As long as you've made a good faith effort to collaborate (including accepting feedback), nobody can fault you for "sniping" an particular bug, in my opinion.

[2017-10-17 01:22] #923 closed

[2017-10-17 19:22] mikewalch commented on #853
Closed by #883.  Also see apache/fluo-yarn#1

[2017-10-17 19:22] #853 closed

[2017-10-17 19:24] mikewalch commented on #844
Fixed by #883

[2017-10-17 19:24] #844 closed

[2017-10-19 00:53] #938 closed

[2017-10-19 00:56] keith-turner commented on #939
The commit 650f044b7db16e732cfbf32f484f05ec34837df8 for #938 can be used as a template for this issue.

[2017-10-19 00:57] kpm1985 commented on #939
Would you like me to take this or work on something else @keith-turner ?

[2017-10-19 07:03] kpm1985 opened #942 "VisibilityCache constructor is out of date"
[code]
Needs to be changed to use the properties from FluoConfigurationImpl added today. In addition, I am adding a unit test that simply instantiates the class and makes sure its not null so this will be caught if a property is bogus in the future. I came across this just browsing my repo so this is kinda lucky, I think I erased TxInfoCache.CACHE_TIMEOUT_MIN with the earlier commit.

[2017-10-19 07:46] kpm1985 commented on #942
https://github.com/apache/fluo/pull/943

[2017-10-19 07:57] kpm1985 opened #944 "Refactor Bytes - Remove duplicate call to expensive function whos ret val is ignored"
[code]

Notice that the first block declares a variable and calls the function UnsignedBytes.lexicographicalComparator().compare(this.data, bytes); twice. This is an unintentional error I presume the author did not intend.

[2017-10-19 14:42] keith-turner commented on #942
Good find, `TxInfoCache.CACHE_TIMEOUT_MIN` should be removed.  I think it would be good make this configurable with two new props.

[2017-10-19 16:42] keith-turner commented on #944
Fixed by 5180acb943c55726fd4e223e6fe63026b78221c7

[2017-10-19 16:42] #944 closed

[2017-10-20 15:07] keith-turner opened #946 "Create a column buffer class for GarbageCollectionIterator"
Fluo has a [GarbageCollectionIterator][1] that cleans up bookkeeping info created by transactions that is no longer needed.  For this iterator to do its job, it must [buffer][2] a row/column in memory.  For this particular case, the row+column in each buffered key is always the same.  Therefore it would be more memory efficient to just buffer the timestamp and value.  The could be done by creating

[2017-10-20 15:21] keith-turner commented on #946
I posted this on [help wanted](https://helpwanted.apache.org/task.html?185671696519ce34ea685e825e7db910e1d2e78e).  Need to remember to close when done.

[2017-10-20 16:10] jkosh44 commented on #946
can I give this a shot?

[2017-10-20 16:36] keith-turner commented on #946
Yeap.  Let me know if you have any questions of feel free to post a WIP PR for discussion.

[2017-10-20 17:27] keith-turner commented on #946
@jkosh44  I updated the proposed methods for ColumnBuffer.  The reason I changed it is looking at how the GCIter uses `keysFiltered`.  I think these methods will better support the filtererKeys case.  Can hopefully replace the code at [GarbageCollectionIterator. line 277](https://github.com/apache/fluo/blob/rel/fluo-1.1.0-incubating/modules/accumulo/src/main/java/org/apache/fluo/accumulo/iterators

[2017-10-20 17:29] keith-turner commented on #946
My thinking with the `copyTo()` method is that it avoid having to materialize the Keys when copying from `keys` to `keysFiltered`.  I proposed this after looking at the code and seeing that the filtering was done on timestamp only.  This works nicely with internal impl of ColumnBuffer that only keeps timestamps.

[2017-10-20 19:30] #942 closed

[2017-10-20 19:57] keith-turner opened #948 "Investigate parallelizing TransactionImpl.readUnread()"
When a transaction only writes to a row+col and then has a collision Fluo will read the row+col after the collision to look for orphaned locks.  If there are multiple row+cols then the code reads them one at time.  The could possibly be parallelized by calling some of the existing methods in Fluo that read multiple row+cols at once.

The code in question is at [TransactionImpl line 519](https://gi

[2017-10-20 19:59] keith-turner commented on #948
Actually it does an entire row and all of it cols at once.  Could still do all row cols at once.

[2017-10-20 20:21] keith-turner commented on #920
Also need to consider read locks if and when #917 is merged.

[2017-10-20 20:30] keith-turner opened #949 "Look into using TimestampSkipping iterator in RollbackCheckIterator"
The RollbackCheckItertor does a linear scan of a row+column versions.  It could use the timestamp skipping iterator to jump to later timestamps.  This could speed up rollbacks where a row+col has lots versions.

[2017-10-21 22:18] jkosh44 commented on #946
@keith-turner
Where should this new class go, the same folder? same question for the unit tests.

[2017-10-21 22:50] kpm1985 commented on #939
@keith-turner I'd like to do this one so I can finish up the *cache* classes please.

[2017-10-21 22:54] kpm1985 opened #950 "Make Visibility Cache Customizable"
Currently the VisibilityCache class uses constants supplied in FluoConfigurationImpl that are intended to be used for TxInfoCache. In the event these constants are changed, the results affect classes that mabye shouldn't be affected. Below will be a pull request that gives VisibilityCache its own properties in FluoConfigurationImpl and getters. It follows the earlier template for TxInfoCache.

[2017-10-22 15:07] keith-turner commented on #939
ok thanks @kpm1985

[2017-10-22 15:26] keith-turner commented on #946
@jkosh44 same folder is good.

[2017-10-23 01:52] jkosh44 commented on #946
Hey @keith-turner I pushed some code and added comments about things I wasn't sure about. Can you take a look at it and let me know if I'm headed in the right direction?

[2017-10-23 21:19] keith-turner opened #954 "Support passing java options via enviroment variable"
In order to support apache/fluo-docker#2 it would be nice if the fluo scripts supported passing java options via environment variables.

[2017-10-23 22:03] kpm1985 commented on #901
It is a lot easier to read with spaces.

[2017-10-23 22:10] mikewalch commented on #901
This is good starter issue. Source for properties files is in https://github.com/apache/fluo/tree/master/modules/distribution/src/main/config

[2017-10-24 01:41] jkosh44 commented on #946
Hey @keith-turner, I just want to make sure I understand the GarbageCollectionIterator class correctly. Is the idea to replace the keys and keysFiltered lists with ColumnBuffers?

[2017-10-24 02:00] keith-turner commented on #946
That is correct @jkosh44

[2017-10-24 21:07] keith-turner opened #957 "Fluo scripts copy jars into fluo software dir."
For some commands, the fluo script will copy jars from HDFS to the local machine.  Currently the fluo script copies jars into `$FLUO_HOME/lib/app/<app name>`.  This has at least two problems.  First, its possible that commands running concurrently for the same app could interfere with each other.  Second, it possible that the software directory is not writable.

One possible fix is the following :

[2017-10-24 21:50] keith-turner commented on #957
I think this task would consist of the following :
  * Add `FLUO_TMP` to [fluo-env.sh](https://github.com/apache/fluo/blob/9e87f477463602533d8611c9561484d41d135654/modules/distribution/src/main/config/fluo-env.sh)
  * Modify the [fluo script](https://github.com/apache/fluo/blob/9e87f477463602533d8611c9561484d41d135654/modules/distribution/src/main/scripts/fluo) to use `mktemp` and `FLUO_TMP` every

[2017-10-24 21:57] keith-turner commented on #957
I posted this on helpwanted : https://helpwanted.apache.org/task.html?593d4c92b8bb1883de0ae0403646737a88d188a3

[2017-10-25 00:28] mptap commented on #957
@keith-turner: Gonna take a crack at this

[2017-10-25 01:22] ctubbsii commented on #957
There's a similar strategy for creating, and later cleaning up, a temporary directory in https://github.com/apache/fluo-website/blob/gh-pages/_scripts/git-hooks/post-commit#L37-L39

[2017-10-25 07:01] kpm1985 opened #958 "Investigate Tests"

[2017-10-25 14:18] keith-turner commented on #957
Great @mptap, let us know if you have any questions.

@ctubbsii the trap command is neat, I didn't know about that.  I have never done signal handling bash.  I googled it, seems one may be able to use human readable signal codes like `ERR` and `INT` instead of numbers. I got a little lost w/ all the quoting in the trap command, I suspect its expanding the variable and still leaving it quoted after

[2017-10-25 19:38] ctubbsii commented on #957
signal 0 should also be `EXIT`

I think you can actually simplify the trap command's quoting a bit, but if you do, it will generate a warning in shellcheck, for being a common mistake (I don't recommend this, but it may help understand what's being quoted and why):
[code]

[2017-10-26 01:44] llvieira commented on #901
I opened a pull request to do it!

[2017-10-26 09:24] namrita1201 commented on #901
I would like to contribute to fix this issue

[2017-10-26 14:25] #946 closed

[2017-10-26 15:20] #901 closed

[2017-10-26 15:24] mikewalch commented on #901
@namrita1201, a pull request was already created by @llvieira.  Take a look at our other issues.

[2017-10-26 18:50] llvieira commented on #949
@keith-turner I opened a pull request about it, so when you have a moment can you please review it and check out if what I did was fine?

[2017-10-27 11:27] #958 closed

[2017-10-27 15:10] keith-turner commented on #957
To really test this script, will need to run Fluo locally. Running Fluo requires Hadoop, Accumulo, and Zookeeper be running and setting these up takes a lot of time.  We wrote [Uno](https://github.com/astralway/uno) to automate setting these up for local development.  Uno can be used to test these script changes.   The instructions below show how to use Uno to test the script changes.

[code]
Make

[2017-10-27 17:05] #939 closed

[2017-10-27 19:54] kpm1985 commented on #933
I've had all of my javadoc contribution formatted correctly with mvn compile. Specifically, when I failed a checkstyle and ran mvn compile it cleared my indentation issues. Running some tests with a stupid long javadoc string now.

[2017-10-27 20:02] kpm1985 commented on #933
Ok, I also found this out. If you do a stupid long line it breaks the revelc impsort plugin (that I love so much man, that is a flame war extinguisher I love it love it love it).

Here is the branch, failing mvn install.
https://github.com/kpm1985/fluo/tree/Javadoc-SuperLongLineTest

[2017-10-27 20:11] ctubbsii commented on #933
@kpm1985 That's not broken because the line is long. It's broken, because it's not valid Java. There's no end tag to the Javadoc comment block. The impsort plugin fails, but so would the compiler plugin, or the formatter plugin, or findbugs, or checkstyle, or several others. impsort just runs early enough to have caught it first.

[2017-10-27 20:19] kpm1985 commented on #933
@ctubbsii Thanks, you caught the missing */, in haste I missed that. You're 100% correct the line length is not wrapping and is causing checkstyle fails. I am sorry for making such a stupid mistake, thanks for calling me out.

[2017-10-27 20:55] kpm1985 commented on #885
I added to the JIRA after you @ctubbsii to try and put some more social pressure on them.. alls I can say is is this normal to have such high demand and no appropriate response, the list was a lot longer than just us

[2017-10-27 20:58] kpm1985 commented on #811
@keith-turner I would like to up my game and tackle this one next. Can you point me in the correct direction?

[2017-10-28 04:09] kpm1985 commented on #798
@keith-turner I think you fixed this with the wonderful work you did lately getting the tests to  run correctly, no?

[2017-10-30 14:04] keith-turner commented on #798
No that was another test that I fixed.  This test may still have problems.  Some test fail very infrequently.  Whenever I see a test fail I open an issue if one is not already open for that test.

[2017-10-30 15:11] #949 closed

[2017-10-30 19:42] keith-turner commented on #811
This is a very rough outline of what I think needs to be done for this feature.

 * Add `setIfAbsent(Bytes row, Column col, Value val)` method to TransactionBase interface.
 * Implement `setIfAbsent(Bytes row, Column col, Value val)` in TransactionImpl.  This method could call `set(Bytes row, Column col, Value val)` with a special value that indicates this row+col is expected to be empty.  This is

[2017-10-30 19:54] kpm1985 commented on #811
I would like to claim this if possible. The other issues I have currently are fairly trivial.

[2017-10-30 21:21] keith-turner commented on #527
This is a very rough outline of what I think needs to be done for this feature.

 * Add `setIfAbsent(Bytes row, Column col, Value val)` method to TransactionBase interface.
 * Implement `setIfAbsent(Bytes row, Column col, Value val)` in TransactionImpl.  This method should call `set(Bytes row, Column col, Value val)` and remember the row+col in special map that tracks row+cols that expected to be

[2017-10-30 21:51] keith-turner commented on #527
Possible javadoc for this new method.

[code]

[2017-10-30 22:11] ctubbsii commented on #527
A `computeIfAbsent` might be useful, if the final param was a `Supplier<Value>`

[2017-10-30 22:16] ctubbsii commented on #527
Nevermind, that's not a good idea. The Value would also have to be created, because the check if absent would be done on the server-side, and it's probably not a good idea to serialize the supplier to send to the server to be executed remotely.

[2017-10-31 14:53] keith-turner commented on #954
I think one way to solve this issue is to support a `FLUO_JAVA_OPTS` env var.  Any java options set in this env var would be used by the fluo script when starting java processes.  This would allow `FLUO_JAVA_OPTS` to be set on the command line for docker, hopefully enabling a command like the following :

[code]

Currently `fluo-env.sh` defines a `JAVA_OPTS` env var that is used by the `fluo` scri

[2017-10-31 15:17] ctubbsii commented on #954
A slight variation on what @keith-turner said: you don't need to create a new property. You can just prepend the old value of `JAVA_OPTS` to the value set in the script, like what is commonly done with `CLASSPATH`, `PATH`, etc.

[2017-10-31 15:44] srikailash commented on #954
I am interested to work on this issue . Currently setting up Fluo on my laptop.

[2017-10-31 16:42] mptap commented on #957
@keith-turner: Verified hadoop/yarn files are created in `/tmp`. PR: https://github.com/apache/fluo/pull/964

[2017-10-31 17:44] #957 closed

[2017-11-01 13:59] #793 closed

[2017-11-01 14:15] #917 closed

[2017-11-02 09:52] srikailash commented on #954
FLUO setup question : Hello , i have some issues with starting accumulo on my laptop . I have setup apache hadoop and zookeeper . ./bin/accumulo init says 0 name nodes even if i have name nodes and data nodes running . Does any one face the same issue ? Please direct me to some FLUO installation instructions for mac os . (I tried uno , but that doesn't seem to work in my case) . Thanks in advance

[2017-11-02 15:48] keith-turner commented on #954
@srikailash  if you are using Accumulo 1.8, checkout the following instructions.

https://github.com/apache/accumulo/blob/1.8/INSTALL.md

[2017-11-02 17:00] kpm1985 commented on #954
Uno is really cool

On Nov 2, 2017 8:48 AM, "Keith Turner" <notifications@github.com> wrote:

[2017-11-02 17:15] srikailash commented on #954
@kpm1985  question about Uno : I was being prompted for password for hadoop installation , it's not my root password and neither an empty string . What to do in that case ?

[2017-11-02 17:17] kpm1985 commented on #954
I think it is in the file under conf directory in a conference file

On Nov 2, 2017 10:15 AM, "srikailash" <notifications@github.com> wrote:

[2017-11-02 17:18] kpm1985 commented on #954
Stupid auto complete. In a . conf file sorry. Can help better in an hour
sorry for short responses in class.

On Nov 2, 2017 10:17 AM, "Kenneth Mcfarland" <kennethpaulmcfarland@gmail.com>
wrote:

[2017-11-02 19:11] keith-turner commented on #954
@srikailash  I suspect ssh is prompting for a password.  Hadoop scripts use ssh to start services like the datanodes.  Ensure you have passwordless ssh setup.

[2017-11-06 16:33] mikewalch commented on #290
Closed by #883

[2017-11-06 16:33] #290 closed

[2017-11-07 14:19] jkosh44 commented on #759
Is this still relevant? If so I'd like to give it a shot

[2017-11-07 23:12] keith-turner commented on #759
@jkosh44 I am uncertain about this issue at the moment. But I am very uncertain about the API.  There was the work done in #923 which should be considered.  Also the scanner builder API has a byRow() method that would not make sense for multiple spans.

For the moment, I think many (but not all) of the use case for this are satisfied by the `snap.get(Collection<RowColumn>)` method.  Also, I have b

[2017-11-08 15:08] #954 closed

[2017-11-08 18:37] keith-turner opened #967 "Prototype adding async get methods to Transaction"
[Fetching multiple cells](http://fluo.apache.org/tour/multi-get/) in the Fluo tour describes `get` methods that Fluo has to quickly read multiple cells.  While using these method is faster than calling `get(row, col)` sequentially, they can be a bit cumbersome.  The same thing performance wise could be accomplished with asynchronous `get` methods, however I am not convinced this would be less cumb

[2017-11-08 20:52] keith-turner opened #968 "Develop design for asynchronous observers"
Currently when a Fluo worker thread executes an observer, the execution flow looks something like the following.

 * Worker Thread 1 : execute Observer process method for transaction 1
 * Worker Thread 1 : process method executes `get` on transaction 1.  Wait for this to return
 * Worker Thread 1 : process method executes `get` on transaction 1.  Wait for this to return
 * Worker Thread 1 : proces

[2017-11-08 22:54] keith-turner commented on #759
@jkosh44 would you be interested in prototyping #967 ?  Its very open ended, I am not even sure what the best way to implement it is.  If you are interested I can post some notes on what I think may be a possible way to implement it, but I am not sure if it would work.

[2017-11-09 23:39] jkosh44 commented on #759
I'd definitely be interested in giving it a shot.

[2017-11-09 23:40] jkosh44 commented on #967
I'd like to try and put together some prototypes.

[2017-11-10 01:20] keith-turner commented on #967
I have thought about two possible approaches to prototyping this.  Both approaches would have the following.

  * An internal class called AsyncGet that contains a RowColumn and CompletableFuture
  * A per transaction queue of AyncGet objects
  * Whenever getAsycn is called on a transaction it creates an AsyncGet object and adds it to the queue
  * Something eventually processes the queue by takin

[2017-11-11 22:07] srikailash commented on #530
Hey mikewalch , i am interested to work on this issue .

[2017-11-12 19:40] jkosh44 commented on #967
Hi Keith,

Sorry I haven't been able to look at this until today. My first question is, should I be implementing these methods in the SnapShotBase Interface or one of the implementing classes. If the second option, where are the implementing classes?

Thanks,
Joe

[2017-11-13 17:37] keith-turner commented on #967
You could add a default method to SnapShotBase like the following.

[code]

This default method is actually synchronous and blocks.  However it provides a default impl for any existing classes that implement the interface and do not provide this new method.

You will want to override this in [TransactionImpl] and provide an impl that is async.  The TransactionImpl class is a bit too big, it needs

[2017-11-14 00:27] jkosh44 commented on #967
I'm a bit new to multi-threading so apologies if any of these questions seem basic.

I think I understand your idea and am going to start working on it. My question is though why can't we do something like this:
[code]
Is the idea that we want to run each get method sequentially but as a whole do them asynchronously from everything else?

[2017-11-14 15:39] keith-turner commented on #967
@jkosh44  there are two problems with the `supplyAsync(() -> gets(row, column))` approach.  First, the task will execute in a thread pool that is shared JVM wide.  The `gets` operation does network I/O.  Executing a I/O task in this JVM wide thread pool could block other task (like parallel stream operations and parallel sort operations).

Second, each `gets(row, column)` method will make a remote

[2017-11-14 17:20] keith-turner commented on #530
@mikewalch will you be able to provide @srikailash with assistance on this issue?  If not, I may be able to.

[2017-11-17 22:30] mikewalch commented on #530
@srikailash, I updated the description with some more information that will hopefully get you started.

[2017-11-20 01:21] cjmctague opened #971 "IT's error out when calling mvn verify"
I'm trying to vote in the parent-pom release and I can't get `mvn verify` to run properly even before checking it against the new parent-pom

It appears to be a bug with accessing zookeeper as all the IT's error out with

[code]
I've tried to rebuild the project but it did not help. I'm sure it's something wrong with my project as @keith-turner and @ctubbsii have been able to successfully test it

[2017-11-20 01:51] ctubbsii commented on #971
Did you try doing a `mvn clean` first? I always run `mvn clean verify` in case any stuff in the target directories isn't properly reset for the next build. Also check that you don't have any old maven artifacts for Fluo in your local maven repository which might be getting on the class path (`rm -rf ~/.m2/repository/org/apache/fluo`; path may differ if your local repository is located elsewhere).

[2017-11-20 01:55] ctubbsii commented on #971
Also, the test in error seems to be FluoAdminImplIT. There were a few recent changes with that to fix some things. Make sure your workspace is up to date. You can check with `git remote update && git branch -vv`.

[2017-11-20 02:05] cjmctague commented on #971
@ctubbsii
 Its getting the error in all the IT's. I just didn't copy them all as it's a long list. Those are the first ones and all the rest display the same error after.

I tried `mvn clean verify` to no prevail.
I cleaned out `~/.m2/repository/org/apache/fluo` than ran `mvn package` and `mvn clean verify` and still got the same errors.
Eclipse is closed and I'm strictly using the command line.

[2017-11-20 02:18] ctubbsii commented on #971
Ah, right, I should have paid more attention to the initial post. Have you tried checking to see if there's an old ZK running that won't die (`ps aux | grep jav[a]` or `jps -ml`)? Perhaps doing a reboot just to be absolutely sure?

[2017-11-20 02:31] cjmctague commented on #971
`ps aux | grep jav[a]` returns nothing
[code]
Rebooted and still getting the same list of errors.

[2017-11-20 02:44] ctubbsii commented on #971
Hmm. This is a tricky one and I'm running low on ideas. Just to throw some more ideas out there to try:

You could try clearing out all of your local maven repository, in case one of the dependencies are corrupt. You could ensure that it is configured to use `https` for Maven Central and a strict checksum policy to avoid resolving corrupt dependencies when they are re-downloaded.

You could also c

[2017-11-20 16:10] keith-turner commented on #971
Are there any stack trace lines after the messages like `Caused by: org.apache.zookeeper.KeeperException$NoAuthException: KeeperErrorCode = NoAuth for /fluo/mini-test2`?

I ask because I am curious if this has anything to do with the changes in #899. Each node in ZK can have an auth set.  Accumulo sets auths in ZK and Fluo does optionally with the changes in #899. The paths in the error messages `

[2017-11-20 16:42] cjmctague commented on #971
@ctubbsii
No luck with any of that sadly. Be right back gonna toss my laptop off the roof.

@keith-turner
Is this what you were looking for? I don't see any trace when looking at the file manually. I can email you the log file if it you want to take a look.
[code]

[2017-11-20 16:48] keith-turner commented on #971
Try `grep -A 10 "NoAuth for"  /tmp/fluo-build.log | head -20`

[2017-11-20 16:51] keith-turner commented on #971
@cjmctague yeah you can email me the log.  If you can bzip2 or gzip it.   bzip will probably compress better.

[2017-11-20 16:59] cjmctague commented on #971
@keith-turner
[code]

[2017-11-20 17:47] keith-turner commented on #971
Ugh, so -`X` did not show the stack traces.  Maybe the `-e` option will.  Could try `mvn -X -e -l /tmp/fluo-build.log`

Also there may be info of interest in `modules/integration/target/failsafe-reports` after running the build.

Make sure to get a video of the laptop toss, could be a hit on /r/osha or /r/wcgw

[2017-11-20 20:19] keith-turner commented on #971
Something else to look at is `modules/integration/target/accumulo-maven-plugin/it-instance-maven/logs/Zoo*`.  These files are for the Zookeeper server that started up for the integration test.

[2017-11-21 00:18] ctubbsii commented on #971
Another thing you could try (very much doubt this is the issue) is disabling your firewall and/or selinux  (if that applies to you). The problem could also be your host name. Check the host name in any zoo.cfg and/or accumulo-site.xml files in your target directory.

[2017-11-21 01:38] cjmctague commented on #971
@keith-turner
The `-e` flag didn't change anything. Still not finding any trace in the log file.
In the `failsafe-reports` it has all the same information as the log like such:

[code]
There are 30 .txt files in those logs for all the various IT's failing.

[2017-11-21 01:39] cjmctague commented on #971
@ctubbsii
On a Mac and I disabled to firewall and nothing changed.

[2017-11-21 01:56] keith-turner commented on #971
@cjmctague what about the zookeeper server logs, anything there?

[2017-11-21 02:12] cjmctague commented on #971
@keith-turner
Sorry I forgot about that. There is a lot more to it but this is the gist of it from what I can tell
[code]

[code]

[2017-11-21 02:46] keith-turner commented on #971
@cjmctague  can you find the test org.apache.fluo.integration.impl.ZKSecretIT and delete it?  I am wondering if that test is mucking things up for you.

[2017-11-21 02:49] keith-turner commented on #971
I noticed in the logs you emailed me that ZKSecretIT runs first and then everything after that fails.  That test does modify auths in Zookeeper.

[2017-11-25 16:09] srikailash commented on #530
@mikewalch working on this . Information seems fine , will update here if any thing is needed .

[2017-11-27 15:42] cjmctague commented on #971
After removing the `ZKSecretIT` the "NoAuth" errors have gone away. Is there a way to for this IT to go last or should we just fix the "Auth" after the IT has concluded?

Now the only thing preventing me from getting a successful `mvn clean verify` is the OracleIT
[code]

[2017-11-27 17:00] keith-turner commented on #971
I looked at a successful Travis build and this test ran in the middle of the ITs. There are two possibilities. When this test runs first, it leaves everything in a bad state OR there is something in your environment that exposing a bug.  I suspect its the latter, but not sure.  I will take a look at the test and see if better cleanup could be done.

Re the OracleIT, some of the error messages from

[2017-11-28 00:58] jkosh44 commented on #722
Since I just got some experience using CompletableFutures I'd like to give this a shot.

[2017-11-28 03:18] cjmctague commented on #971
My environment currently is on a mid 2012 macOS laptop with the latest version that the issues are occurring on. I run`brew update` and `brew upgrade` probably once a week so everything is up to date. Any particular information you would like to know?

The timeout did not change anything other than it taking longer to time out.

I just started an environment on my Centos7 server at school. Was abl

[2017-11-28 15:12] keith-turner commented on #971
@cjmctague can you try removing the timeout rule and see if it ever completes... or set it really high.

Also when its stuck, can you find the java process running the IT and run jstack on it?

[2017-11-28 15:37] keith-turner commented on #722
@jkosh44  this will be a very involved change.  I can assist as needed, let me know if you have any questions.   You already have a feel for CompletableFuture, I would recommend experimenting with Guava ListenableFutures in a stand alone program to get a feel for them.

[2017-11-28 19:26] cjmctague commented on #971
@keith-turner Removing the timeout rule just made the test never end.

I just emailed you the jStack dump

[2017-11-28 21:41] keith-turner commented on #971
I looked at the jstack you sent, it seems like the file contains 4 jstacks.  Are those for 4 different test runs?

It seems in two the of the jstacks the main test thread is stuck waiting to get a timestamp from the oracle.  In one of the jstacks, the main thread is stuck trying to connect to zookeeper.  In the other jstack I am not sure what it is doing.

[2017-11-30 16:12] keith-turner opened #973 "MiniFluo fails to start when running from mvn exec"
When trying to use maven exec to start a 1.2.0-SNAPSHOT instance of mini fluo it fails with the following exeception.  I think what is happening is that the fluo jars are found on the classpath and then it tries to copy those to hdfs.  However there is no HDFS.

I am thinking a possible fix for this is to make the the new `fluo.dfs.root`  property not have a default of localhost.   Also make the c

[2017-11-30 18:15] mikewalch commented on #971
I am seeing the same problem with `OracleIT` on a Mac.  I will look into this.

[2017-11-30 18:33] cjmctague commented on #971
@keith-turner Yea sorry those were two different test runs.

[2017-11-30 21:05] #973 closed

[2017-12-02 04:43] jwonders commented on #722
Hi folks,  I've been lurking around on the mailing lists for awhile as I haven't really had much time to start contributing.  I've been exploring async wrappers around Accumulo in a side project and it makes heavy use of CompletionStage/CompletableFuture.  I figured I'd post a link in case you want to take a look at another implementation for comparison.

https://github.com/jwonders/ax-accumulo

I

[2017-12-04 18:05] jkosh44 commented on #722
Hey sorry I've had an extremely hectic week and haven't been able to look at this yet. I'm going to start on this tonight. Unless you're asking to work on this jwonders then feel free.

[2017-12-04 18:28] keith-turner commented on #722
@jwonders I am not sure if ax-accumulo would be relevant for this PR because I have not had enough time  to look at in depth.  I am really glad you shared because I am very happy to learn about the existence of ax-accumulo.  At some point I would like to add async APIs to Accumulo.  As time permits, I would like to learn from and possibly leverage ax-accumulo's APIs for Accumulo.

[2017-12-04 23:13] jwonders commented on #722
@keith-turner I agree it might not be relevant and I'm not familar enough with fluo to know all of the touchpoints for this PR.  Just wanted to point it out as a possible reference if migrating the async writers to CompletableFuture.  I'm also interested in native async APIs in Accumulo because to get the most benefit the implementation needs to be async down to the RPC layer.  The ax-accumulo pro

[2017-12-05 03:35] jkosh44 commented on #722
Did some analysis of where ListenableFuture is used and here's what I found:

Classes that use ListenableFuture:
                ...core/impl/TransactionImpl
                ...core/async/AsyncConditionalWriter
                ...core/oracle/OracleClient
                ...OracleClient.TimeRequest
                ...core/impl/SharedBatchWriter
                ...SharedBatchWriter.MutationBatch

Fu

[2017-12-05 17:02] jkosh44 commented on #722
So I wanted to start with changing SharedBatchWriter.MutationBatch since it's the most independent.

Currently it uses ListenableFutureTask.run() to run tasks asynchronously. Since it just inherits that function from FutureTask.run() without overriding it, I think the most straight forward solution would be to replace all occurrences of of ListenableFutureTask with FutureTask.

Alternatively I can

[2017-12-05 18:34] jkosh44 commented on #722
Ok so in general the functions of TransactionImpl that use ListenableFutures are of the following form
...
[code]
...
At a very high level I think the approach I'm going to take is convert it to some along the lines of
...
[code]
...

Where thenAccept would perform the same action as onSuccess of the callback. And exceptionally would perform the same action as onFail of the callback.

[2017-12-05 22:36] keith-turner commented on #722
@jkosh44 I think you are on the right track.  Because I am not deeply familiar with completable future I had to try experimenting in order to evaluate your proposal.  Below are the results of my experiment.

I add the following to AsyncConditionalWriter just to enable me to try writing some code.

[code]

Then for [TransactionImpl line 972](https://github.com/apache/fluo/blob/185a1cbfa57ba53896afc

[2017-12-06 00:26] jkosh44 commented on #722
What if we had an interface like this (name needs some serious improvement)
`private static interface OnSuccessInterface<V> {
  protected void onSuccess(CommitData cd, V result) throws Exception;
}`

Then we can also have the following method:
`private void addCallback(CompletableFuture<V> cfuture, CommitData cd, OnSuccessInterface onSuccessInterface){
  cfuture.thenAcceptAsync(result -> {
      t

[2017-12-06 02:25] jkosh44 commented on #722
OracleClient and SharedBatchWriter seem to only use and deal with ListenableFutureTask<V>. The only method they seem to call is `create(Runnable runnable, V result)` and `run()` (Which it inherits from FutureTask<V>). Since the ListenableFutureTask<V> class implements ListenableFuture<V> we're able to return ListenableFutureTask<V> when we're expecting a ListenableFuture<V>.

I propose we create t

[2017-12-06 03:12] cjmctague commented on #885
[Thrift 0.11.0](https://lists.apache.org/thread.html/1c7da4292c8a89db3648cb14d8fb5342c316ac05e7dab644d6888815@%3Cdev.thrift.apache.org%3E) is up for the release voting. It includes the fix for this issue so we can get this handled in the next couple days, preferably before a 1.2.0 release

[2017-12-06 04:37] jwonders commented on #722
I think it might be worth considering using `thenComposeAsync(...)` for the `TransactionImpl` behavior.  It looks like that class chains many asynchronous operations together based on the result of the previous operation.  This is exactly what the `thenCompose(...)` methods are intended for.  The catch is that it would probably require some singificant refactoring as `thenCompose(...)` expects fun

[2017-12-06 15:20] keith-turner commented on #722
@jkosh44 the addCallback method looks good.  I gave it a try locally with the example I had yesterday.  I added a type parameter to the method definition as follows.

[code]
I was able to use a lambda witht the OnSuccessInterface as follows.  So its only two lines, which is nice.

[code]

[2017-12-06 15:44] jwonders commented on #722
Assuming the creation of a data class, maybe called `AsyncCommitResult`, that can represent the various outcomes of the async commit, something like the following would be an alternative.

In the end, the chaining might look similar to what @jkosh44 is suggesting except there would not be a need for the `CompletableFutureTask` or the `addCallback` method because the `thenComposeAsync` method alrea

[2017-12-06 15:58] keith-turner commented on #722
@jkosh44 re CompletableFutureTask I think it may not be needed.  I am not sure but I think that SharedBatchWriter did the goofy stuff it does because ListenableFuture did not have anything like the complete method.

I think SharedBatchWriter could do the following.

 * When `writeMutationsAsyncFuture()` is called, create a new CompeltableFuture<Void>.  Put this compfuture and the mutation on the q

[2017-12-06 16:13] keith-turner commented on #722
@jwonders I like your suggestions relating to `thenComposeAsync`.  When converting the commit process form sync to async one thing I was unhappy with was that the high level logic was spread far and wide.  For the sync code there was one method that drove the entire commit process.  So in essence the high level commit logic could be understood by looking at this method.  When translating to async

[2017-12-06 16:27] jwonders commented on #722
@keith-turner It could certainly be done as a follow-on PR.  I've found that it is usually pretty easy to start at the low-level (leafs of the graph of task) and bite off little pieces at a time when migrating to CF or migrating synchronous implementations to async.

[2017-12-06 17:10] keith-turner commented on #885
We have to be very careful with thrift versions.  Thrift has an IDL which is automatically translated to java code.  The automatically generated code uses libthrift.  Normally the code generated by thrift compiler X will only work with libthrift version X.

The Accumulo client has code generated by the thrift compiler.  Given the constraints above, we often have to use the version of libthrift tha

[2017-12-06 17:27] keith-turner commented on #885
For example Accumulo 1.7.X uses libthrift 0.9.1 and Accumulo 1.8.X uses libthrift 0.9.3.  If you try to use libthrift 0.9.1 with Accumulo 1.8.X it will break in strange ways.

Luckily Fluo uses very little thrift functionality and the thrift code we automatically generate works with 0.9.1 and 0.9.3 at the moment.

It would be interesting to try Fluo and Accumulo with libthrift 0.11 and see if blow

[2017-12-06 21:56] jkosh44 commented on #722
@jwonders @keith-turner I think I'd prefer to first do a direct conversion to CompletableFutures, that way I can get a better understanding of everything that's going on. Then after try and optimize with thenCompose.

@keith-turner  I see what you're saying about the ListenableFutureTasks. I think in general wherever ListenableFuture.run was called we can replace that with a complete call.

I did

[2017-12-06 22:09] keith-turner commented on #722
@jkosh44 replacing `ListeningExecutorService` with `CompletableFuture.supplyAsync()` and regular executor seems like the correct path.  I'm curious to see how it goes in practice.

[2017-12-07 03:37] jkosh44 commented on #722
So I was able to change AsyncConditionalWriter and OracleClient to use CompletableFutures and changed the TransactionImpl calls accordingly. AsyncConditionalWriter no longer implements AsyncFunction which is part of the Guava package. I was able to run mvn package and mvn verify without any of the tests failing. Are there any tests for commitAsync()?

When changing OracleClient I found that you ca

[2017-12-07 18:39] keith-turner commented on #722
@jkosh44 I ran the following wihtout issue and it printed null
[code]

[2017-12-08 04:40] jkosh44 commented on #722
@keith-turner I went back to try again and keep running into the same error.
[code]

Line 84 of `SharedBatchWrited` is the `complete` statement below:
[code]

Line 198 is the `completedFuture` line below:
[code]

If it makes a difference I only get this error when calling `mvn verify` and not when calling `mvn package`

[2017-12-08 05:14] ctubbsii commented on #722
@jkosh44 The error occurs during `mvn verify`, but not `mvn package`, because findbugs runs at the `integration-test` phase of the Maven build lifecycle, which occurs after the `package` phase. See https://maven.apache.org/guides/introduction/introduction-to-the-lifecycle.html

The bug is a false positive. See findbugsproject/findbugs#79 which was fixed only in spotbugs in spotbugs/spotbugs#484, w

[2017-12-08 14:10] keith-turner commented on #722
@jkosh44 you may be able to prevent findbugs from triggering with indirection.  Maybe something like the following will throw it off.

[code]

[2017-12-08 14:13] jkosh44 commented on #722
Gotcha, when I first came across those pages I misinterpreted them as saying there was a bug in CompletableFutures not Maven. I probably won't have access to my computer until Sunday, so I'll try both of these then.

[2017-12-11 04:11] jkosh44 commented on #722
@keith-turner The indirection worked, just pushed the fix.

[2017-12-11 18:26] #722 closed

[2017-12-11 22:39] keith-turner opened #976 "fluo scan raw command is not working"
I am seeing the following when trying to scan Fluo's raw data.  However, the scan without the raw options works fine.

[code]

[2017-12-12 01:14] #976 closed

[2017-12-12 18:52] jkosh44 commented on #722
@jwonders I've been looking at your suggestions and had a question. I'm still unclear as to what AsynCommitResult's purpose is. Can you expands on that for me?

[2017-12-13 02:52] jwonders commented on #722
The purpose of `AsyncCommitResult` is to capture the result of the async operation.  Terminal steps would be able to create a concrete value of this result class because they are aware of successful completion or errors.  Intermediate steps would return a future based on additional composed async steps.

In the code I had posted, the `finishCommit` method is a terminal step that returns the `commi

[2017-12-13 14:53] keith-turner opened #978 "Use CompleteableFuture compose to centralize commit logic"
Opening this issue for follow on work identified in the comments of #975 and #722.

[2017-12-13 17:12] keith-turner commented on #978
I created a [Gist](https://gist.github.com/keith-turner/387dc83332bc330fee673be14684899) containing some local experimentation I did.  I am not in anyway advocating for this is a design, I am just experimenting with the high level decomposition and sharing the result for discussion.  I am new to using thenCompose and was just trying it out.

[2017-12-13 17:13] ctubbsii commented on #978
@keith-turner that Gist isn't public.

[2017-12-13 17:20] keith-turner commented on #978
This is the commit code as it existed before being converted to an async process.

https://github.com/apache/fluo/blob/0edd91d94fd059a5d5c5f099a78c6ed42dfc4722/modules/core/src/main/java/io/fluo/core/impl/TransactionImpl.java#L807

[2017-12-14 00:00] jkosh44 commented on #978
Just wanted to also copy some relevant comments from #722 by @jwonders, to avoid having to flip back and forth.

And

[2017-12-14 00:47] jkosh44 commented on #978
@keith-turner I've been trying to think of a way to synthesize @jwonders idea of an AysncCommitResult and your idea of having one main commit method to handle all the logic.

Essentially `AsyncCommitResult` would have any info that would be needed by any of the helper method parameters. Each helper method would return a `CompletableFuture<AsyncCommitResult>`. Then the main commit method would chai

[2017-12-14 00:53] jkosh44 commented on #978
`AsyncCommitResult` would look like
[code]

[2017-12-14 01:37] jkosh44 commented on #978
I was going to try and see how this worked in actual code and I noticed that this would not cover the case where we commit and return early. We could add a `boolean committed` to `AsyncCommitResult` and at the start of each `thenCompose` call check `if(!acr.getCommitted)`. Whenever we commit early we just return a completed future with an acr setting `commit` to true.

[2017-12-14 14:32] jkosh44 commented on #978
If anyone's interested I started to try and see how this would look/work in code. [TransactionImpl](https://github.com/jkosh44/fluo/blob/issue-978/modules/core/src/main/java/org/apache/fluo/core/impl/TransactionImpl.java#L899) and [AsyncCommitResult](https://github.com/jkosh44/fluo/blob/issue-978/modules/core/src/main/java/org/apache/fluo/core/impl/AsyncCommitResult.java). It's still pretty messy,

[2017-12-14 15:10] jwonders commented on #978
@jkosh44 I'm interested in looking at it.  I probably can't get to it until this weekend rthough.

Hopefully the `AsyncCommitResult` doesn't need to pass much intermediate information between steps.  There is probably a balance between doing everything in-line with `thenCompose(...)` and keeping some of the current structure to make the short-circuiting cleaner and allow for capturing data in the

[2017-12-15 23:49] keith-turner commented on #978
I have been looking at your changes, I am not sure the AsyncCommitResult path is improving the readability of the code.  I have been thinking about this and experimented with another high level design.  This design has [CommitSteps][1] can be [chained together][3] allowing someone to easily follow the overall commit logic.    An example of the commit step is the [LockPrimaryStep][2] which does a c

[2017-12-18 04:58] jkosh44 commented on #978
@keith-turner I haven't had a chance to look at the code in depth but it seems to achieve everything you were looking for.

In terms of exception handling for CommitStep, I thin we can append `compose` with `.exceptionally(e -> getFailureOp(cd))` or use `handleAsync` like `addCallback` above it.

For all the TODOs saying something along the lines of "do async" what do you think about just surround

[2017-12-18 15:44] keith-turner commented on #978
I think either of those approaches would work. However I am still not very familiar with `.exceptionally()`, so its hard for me to make a call on it.  I need to experiment with it and get some hands on experience.

I think that would work in some cases.

If you think the approach I proposed is good, feel free to copy it or branch it.  One thing I realized about this approach is that it makes the n

[2017-12-19 01:40] jwonders commented on #978
It took me a little while to work my way through the transaction implementation.  I made this diagram to help keep things straight in my head.  I think it is pretty accurate although I didn't pay as close of attention to some of the error handling branches.

![transaction_impl](https://user-images.githubusercontent.com/1666405/34136011-b0c2e93a-e418-11e7-90cb-582516e6d470.png)

The main thing to n

[2017-12-19 16:50] keith-turner commented on #978
@jwonders the flow chart is really awesome!  What did you use to create it?  Would you be willing to contribute it?  I think we could use that diagram to create a blog post explaining the commit process.  The blog post could have short explanations of the step and links to the code.

I agree with this.  I can't think of a way to represent the error paths at the top level without making the code ha

[2017-12-20 02:15] jwonders commented on #978
I used gliffy.  Definitely willing to contribute it.  Here is a gist of the json.

https://gist.github.com/jwonders/f71425e6495e08d610ad69ff49735742

[2017-12-20 20:27] ctubbsii commented on #933
Fixed with formatter-maven-plugin 2.7.0+

[2017-12-20 20:27] #933 closed

[2017-12-21 23:06] keith-turner opened #980 "Shade libthrift into fluo core jar"
See discussion on #979

[2017-12-21 23:13] keith-turner opened #981 "Stop printing extraneous info in scan command"
In a script I wanted to check it a fluo application had any data.  I attempted to use the fluo scan command, however it prints out some messages about the app name and number of entries it scanned.  For scripting it would be nice if the scan command printed nothing when there was no data.

[2017-12-22 13:48] keith-turner opened #983 "Stop using system.exit for fluo commands"
See https://github.com/apache/fluo/pull/982/files/a4bf630e6de398a848d412f6ca1a11bfb4dee6fa#r158413399

[2017-12-22 14:44] keith-turner opened #984 "Create option for machine readable output for scan"
It would be useful if the fluo scan command had an option to produce machine readable output.  This could be something like `fluo scan -a app1 --json` or `fluo scan -s app1 --csv`.  Not sure what the best format to use for the output is.  If we start with something like a `--json` option then we can always add something like a `--csv` option later.

[2017-12-22 17:21] keith-turner commented on #983
From some problems I do not really want to see a stack trace.   For example currently some commands currently detect when the oracle is not running and print a nice error message.  For this case I personally would not like to see a stack trace.   However if a command throws an NPE I would like to see that stack trace.   To deal with this I propose the following.

 * Create FluoCommandException tha

[2017-12-22 21:09] ctubbsii commented on #983
So, without fully understanding all the code which this could impact (so, I could be totally off base with these suggestions), I have a few thoughts.

I think there are a few goals:

1. Make the code friendly to execute by a container/wrapping UI without calling `System.exit()`
2. Have a convenient way to catch exceptions (maybe just certain expected ones), print a standard error message and exit

[2017-12-22 22:41] keith-turner commented on #798
Saw this error again when building #987.

[code]

[2017-12-25 16:05] kpm1985 commented on #786
I'd like to jump on this one, if that is cool @keith-turner This is line 371 from Oracle Client:
          log.warn("Waiting for timestamp from Oracle. Is it running? waitTotal={}s waitPeriod={}s",

First there is a check to see if the timeout is positive (do we want to accept a value of 1?)
      int timeout = env.getConfiguration().getConnectionRetryTimeout();
      if (timeout < 0) {

In this b

[2017-12-25 16:14] kpm1985 commented on #786
To answer the posters question and give a clear explanation of the log message is as follows:

1) wait total corresponds to the total time waited for this stamp.
2) wait period corresponds to the amount of time to wait before we check the state of the count down latch again.

Note: the user is not made aware of the actual timeout value, just the total time they have waited and how long each wait i

[2017-12-26 02:01] jkosh44 commented on #978
Hey, I haven't really been able to work on this because of the holidays/holiday preparation. I hope to start up on it again soon though.

[2017-12-26 13:58] mikewalch commented on #786
@kpm1985, nice break down of the code. Any updates to the documentation would be great but I think the issue was the log message.

[code]

[2017-12-26 21:25] #786 closed

[2017-12-27 15:47] mikewalch opened #991 "Create 'fluo remove' command"
After a Fluo application is initialized using `fluo init`, metadata exists for the application in Zookeeper.  Currently, there is no way to remove this metadata without using the Zookeeper CLI   It would be good to have a `fluo remove` command that removes this metadata.

[2017-12-28 13:56] #981 closed

[2017-12-28 22:51] keith-turner opened #992 "Notifications never processed while running stress test"
I ran the stress test against 1.2.0-SNAPSHOT on a single node with two workers.  Two notifications were never processed.   I did heap dump of the two worker processes and found one of them had two notifications in its NotificationProcessor.NotificationTracker.queuedWork set.  However nothing in the process was working on these.  There presences in the set prevent them from being added to the queue

[2017-12-29 18:06] alanblueshift opened #993 "Obfuscate password in output logs"
Should not show passwords in any output message. Maybe create an annotation to make it ease to reuse.

For example, when we call the Fluo config command:
[code]

[2017-12-29 18:56] alanblueshift commented on #993
In Apache Camel project they use an util class called URISupport to obfuscate sensitive data from URL's.
[code]

[2017-12-29 20:48] alanblueshift opened #994 "Encrypt properties on fluo-app.properties and fluo-conn.properties"
It'll be nice could encrypt some or any property value on fluo-app.properties and fluo-conn.properties.
In this files we can find users and passwords. For a comercial use this is an issue.
The Apache Camel uses Jasypt to encrypt and decrypt property files.

[2017-12-30 02:51] alanblueshift commented on #991
I started to implement this doing the same thing the _init -f_ does but without the init part.
But I was wondering what happen if I remove the tables and the zookeeper data without stop the oracle and the workers before. Maybe apply the same validation of the _init_ command:

[code]

OR we could store the PID of the workers and oracle in a file like .[APP_NAME]_**woker01**.pid, .[APP_NAME]_**worke

[2017-12-30 02:58] alanblueshift commented on #983
What if the command module were implemented like a command pattern (http://www.oodesign.com/command-pattern.html). We could reuse the commands in API's, UI and so on...

[2017-12-30 03:11] mikewalch commented on #991
I think the first option is the best. You should check to see if the application is running and abort if it is. I was thinking the `remove` command was only run once from one node (like the `init` command). It just cleans up metadata in Zookeeper and drops the Accumulo table.  Stopping processes is tricky as they could be running locally, in YARN, Marathon, or Kubernetes.

[2017-12-30 04:02] kpm1985 commented on #991
This issue is the same as #529 from what I can tell.

[2018-01-02 15:52] keith-turner commented on #994
It would be nice if this were implemented in such a way that properties stored in zookeeper could also be encrypted.  The changes for #893 enabled securing the info in zookeeper with a password, but its not encrypted.

[2018-01-03 17:05] keith-turner commented on #992
I was able to confirm that NotificationTracker.requeue() not being synchronized while accessing a hashmap caused the problem.

I suspected when `contains()` is called on the hashmap outside of sync that it could return false even though the map does contain it.  This could happen if another thread is rehashing the map.  I wrote a stand alone test with two threads and a hashmap to confirm this.  On

[2018-01-03 19:12] #992 closed

[2018-01-08 20:17] #671 closed

[2018-01-12 17:15] kpm1985 opened #1000 "CuratorFramework and IntegrationTest Exceptions"
This is a place for me to document the work I've begun on addressing the errors output to the console during the run of mvn verify. For the moment I will have to be brief but I did a fair amount of investigation. I'll say more later.

I have a branch that has a tiny sleep modification to oracle server and it kills a lot of the errors by checking state. I'd appreciate if someone could check this ou

[2018-01-13 01:24] kpm1985 commented on #1000
I've pushed and reset a few times on this branch, this has been good experience to expand and learn a little more about git.

Anyways, with these modest changes, the only errors that are appearing during mvn verify are in Thrift or something I don't have forked/cloned. The first change sleeps on the state of the curator framework, the second sleeps on isLeader. Basically Fluo gets a chill pill and

[2018-01-13 02:28] mikewalch commented on #1000
It would be awesome to reduce some of our random test failures.  It looks like you are the right track as I bet most of the failures are timing related.   However, the code you are working is definitely tricky. We need to make sure there is no adverse effects with adding sleeps/delays.

[2018-01-13 18:40] kpm1985 commented on #1000
@keith-turner Recommended looking at CuratorFramework.blockUntilConnected which I just finished trying out and it works also. This is the change to the OracleServer.takeLeadership method before the call to getData that is fluently styled right after.

I've dropped changes to the other method that was throwing exceptions, OracleServer.getTimestampImpl until I understand it better.

[2018-01-14 02:02] jkosh44 commented on #978
Hey sorry, so I got really distracted and took a bit of a hiatus. But I took a look at it this weekend and went through a first pass at filling it in, [TransactionImpl](https://github.com/jkosh44/fluo/blob/issue-978-keith/modules/core/src/main/java/org/apache/fluo/core/impl/TransactionImpl.java). It's currently failing a lot of tests but surprisingly passing a lot too. I'm going to look at it some

[2018-01-16 01:51] jkosh44 commented on #978
Ok so I created a pull request, #1001. It's not passing every test but it only seems to be failing 3 tests.Those three test are all from `FailureIT` and it's because `TransactionImpl.commitPrimaryColumn(CommitData cd, Stamp commitStamp)` isn't returning false when it's supposed to. I'm pretty sure it's how I implemented exception handling, if a 'CommitException' is thrown it's somehow not propagat

[2018-01-16 03:30] jkosh44 commented on #978
Well that change seemed to have killed two birds with one stone, all tests pass now. I still want to refactor `preCommit(CommitData cd, RowColumn primary)` so it no longer uses `stopAfterPreCommit`.

[2018-01-17 16:31] keith-turner opened #1002 "Create integration test for `FluoAdmin.remove()`"
There is a discussion about this on #999

https://github.com/apache/fluo/pull/999#discussion_r161251692

[2018-01-17 16:33] keith-turner opened #1003 "Refactor remove and init apis to check if running"
The fluo commands for init and remove check if an application is running.  However the API calls for init and remove do not do these checks.  These checks should be removed from the command and into the API calls.  There is a discussion about this on #999

[2018-01-17 16:34] keith-turner commented on #1003
https://github.com/apache/fluo/pull/999#discussion_r161250500

[2018-01-17 19:49] kpm1985 commented on #1002
I just read this and noticed someone mentioned oserver.start().

If the Oracle server is started and takes leadership immediately, a race
condition can occur on isLeader and the state of the curator framework (not
the one from shared resources).

Beware. I've been investigating with flight recorder and some other dumping
tools.

On Jan 17, 2018 8:31 AM, "Keith Turner" <notifications@github.com> wr

[2018-01-19 06:06] kpm1985 opened #1006 "FLUO-1004 Remove references to unused classes"
There are unused classes causing Eclipse warnings.

[2018-01-19 06:07] #1006 closed

[2018-01-19 06:08] kpm1985 commented on #1006
I am having a terribly off day :(

[2018-01-19 06:40] kpm1985 opened #1007 "Remove unused references"
AsyncConditionalWriter and OracleClient contain references that aren't used, and can safely be removed to eliminate Eclipse warnings.

[2018-01-19 08:33] kpm1985 commented on #1000
@mikewalch @keith-turner @ctubbsii

There are a few issues I've identified that are legitimate concerns. For the sake of this please attention to synchronization.

      synchronized (this) {
        byte[] d = curatorFramework.getData().forPath(maxTsPath);
        currentTs = maxTs = LongUtil.fromByteArray(d);
      }

Notice the synchronization on these objects from takeLeadership() : non synchr

[2018-01-19 08:39] kpm1985 commented on #1007
https://github.com/apache/fluo/pull/1008

[2018-01-19 15:14] #1007 closed

[2018-01-23 16:01] mikewalch opened #1010 "Automatically generate configuration properties files and markdown"
The descriptions for Fluo properties should be centralized and used to generate and both the properties files that go into tarball distribution and markdown document for documentation on project website.

[2018-01-25 22:36] kpm1985 commented on #991
Can we close this? Can we close #529?

[2018-01-25 22:38] kpm1985 commented on #971
It looks like some of this is related to #1000. What is the status on this issue if I may politely ask?

[2018-01-25 22:41] ctubbsii commented on #971
I don't have a Mac to reproduce. @mikewalch , were you ever able to reproduce this?

[2018-01-25 22:46] ctubbsii commented on #529
Was duplicated by #991 and implemented by #999

[2018-01-25 22:46] #529 closed

[2018-01-25 22:49] kpm1985 commented on #971
I have a MacBook with OS Capitan and built Fluo last week on it with maven.
Could I help somehow?

On Jan 25, 2018 2:41 PM, "Christopher Tubbs" <notifications@github.com>
wrote:

[2018-01-25 22:54] ctubbsii commented on #971
@kpm1985 I think the issue needs to be reproduced. It may or may not affect only Macs. From the discussion above, we know it affects @cjmctague 's Mac builds, at the very least. If it can be reproduced, we'd need to track down the cause of the problem. If you can help with reproducing and figuring out why it's happening, please feel free to do so.

[2018-01-25 23:08] kpm1985 commented on #971
Im curious about @cjmctague specs. Eliminating variables and such. I saw
it's around 2012 with brew, was there more info about the hardware I missed?

On Jan 25, 2018 2:54 PM, "Christopher Tubbs" <notifications@github.com>
wrote:

[2018-01-30 00:01] keith-turner opened #1011 "SyncCommitObserver should throw an exception if multiple methods called."
If more than one method is called on [SyncObserver](https://github.com/apache/fluo/blob/master/modules/core/src/main/java/org/apache/fluo/core/async/SyncCommitObserver.java), then any method after the first should throw an IllegalStateException.

[2018-01-30 16:27] keith-turner commented on #1011
The goal of this issue is to throw an exception if any of the methods `committed()`, `failed()`, `alreadyAcknowledged()`, or `commitFailed()` is called more than once.  Below are two possible ways to accomplish this.

# Use synchronized
 * Make all methods synchronized
 * Drop all volatile, not needed with sync
 * Drop CountDownLatch and replace with Object wait and notify methods (can do this sin

[2018-01-30 16:46] keith-turner commented on #967
Project Loom is something to consider when thinking about adding async methods to Fluo's public API.

http://cr.openjdk.java.net/~rpressler/loom/Loom-Proposal.html

Not sure what the timeline for Loom is.

[2018-01-30 23:28] #978 closed

[2018-01-31 22:21] alanblueshift commented on #984
Suggestion: make a refactoring on **org.apache.fluo.core.util.ScanUtil** to receive a **java.io.OutputStream** or a **java.io.Writer** or both to avoid something like that:
[code]
Could this be done in that same thread?

[2018-02-01 15:14] keith-turner commented on #984
I think passing in something like an OutputStream is much cleaner.  Would need to preserve the `checkError()` behavior where the scan breaks when the output stream is closed.   Looking into the I realized the current code is inefficient because `checkError()` also flushes.  It would be more efficient to use something like an OutputStream and when it throws an IOException just stop the scan.

[2018-02-04 12:06] asr21 commented on #1011
hi keith I have submitted a PR. Please check if it looks correct. This is my first time contributing to any project. So I may have made small mistakes :)

[2018-02-08 19:14] #980 closed

[2018-02-08 20:12] keith-turner commented on #1011
Welcome @asr21 !  There are some comments on the PR #1013, let me know if you have any questions.

[2018-02-12 20:17] #1011 closed

[2018-02-13 15:39] keith-turner opened #1015 "Improve handling of errors."
Currently when an Observer fails an exception is logged and Fluo retries when it sees the notification again.  What if anything can be done to improve this?

Below are some possibilities.

 1. Retry failed notification less frequently.
 2. Have an API and command line tool for finding failed notifications.
 3. Document via a blog post how to use log stash with Fluo to find failed notification log

[2018-02-15 02:56] mikewalch commented on #991
Closed by #999

[2018-02-15 02:56] #991 closed

[2018-02-19 19:15] alanblueshift commented on #984
I'm working on this. Do you think we could use the commons-csv lib?
I believe we could use it for both the current format (tsv like) and for csv format.

I'm creating some properties on fluo-app to CSV format:
[code]

[2018-02-20 01:47] alanblueshift commented on #984
In **distribution** module, fetch.sh file, are there any reason for this dependency to be in this version?
[code]
In Fluo pom.xml we are in 2.8.0. Can I upgrade to use for the **--json** scan?

[2018-02-20 02:34] alanblueshift commented on #984
Sample of CSV file:
[code]

JSON file:
[code]

[2018-02-20 15:53] keith-turner commented on #984
My slight preference would be to make the csv options command line options.  The reason is that I think this would give more predictable results.  However I can see the convenience of putting the options in the config file.  So I am uncertain which is best.

If doing command line options, could be something like the following.

[code]

I would replace `COLUMN_FAMILY`, `COLUMN_QUALIFIER`, and `COLU

[2018-02-20 18:35] alanblueshift commented on #984
About the config in the command line, I believe is possible keep both. It’s a good idea!
The command line could overwrite the property config. Even if the user don’t inform any parameter on command line or on property file we going to assume the **DEFAUL** behavior of the component (commons csv).

About the short names. Sounds good! Done!

About the dependence, is it common this two versions of th

[2018-02-20 21:27] keith-turner commented on #984
I think its ok to update gson to 2.8.0 in the fetch script.  I was looking at `mvn dependency:tree` and 2.8.0 is the version that hadoop 2.6 depends on.  I am not sure why fetch.sh has a different version than the pom.

[2018-02-20 22:29] keith-turner opened #1016 "Unable to build against Accumulo 1.9.0-SNAPSHOT"
I tried building Fluo 1.2.0-SNAPSHOT against Accumulo 1.9.0-SNAPSHOT.  The ITs hang because Accumulo does not start.  Seeing the following in Accumulo master log.

[code]

[2018-02-21 02:06] alanblueshift commented on #984
Now we have 3 options for configure the scan command:

- Based on fluo-app.properties
- Based on --csv-* parameters
- And based on -o overwrite parameter

[code]

[2018-02-21 05:21] #1016 closed

[2018-02-21 14:41] keith-turner commented on #984
I forgot about `-o`

[2018-02-21 16:03] alanblueshift commented on #994
I'm working on this.
Considering using the same Apache Camel strategy:
http://www.jasypt.org/encrypting-configuration.html

I'm open to suggestions. ;-)

[2018-03-09 15:43] keith-turner opened #1023 "Consider placing notifications in separate table"
Fluo's notifications are currently placed in a separate locality group.  This means when scanning for notifications, user data is not read. Notifications can only be garbage collected with a full major compaction.    However full major compactions do not happen often.  This means that over time notification delete markers build up.   This build up over time makes scanning for notifications more ex

[2018-03-09 16:39] keith-turner opened #1024 "Improve Fluo wait algorithm"
The algorithm used by the wait command could be improved.  Currently it scans the entire notification locality group and counts the number of notifications.

 * Stop scanning once a single notification is found.
 * Not always starting scanning at the beginning of the table.  What if the single active notification is at the end or in the middle of the table.
 * Minimize amount of scanning

The foll

[2018-03-12 18:03] cjmctague commented on #971
[ZKSecretIT.java#L59](https://github.com/apache/fluo/blob/master/modules/integration/src/test/java/org/apache/fluo/integration/impl/ZKSecretIT.java#L59)
[code]
Setting the secret here is messing up the config for the rest of the IT's in my environment. The secret should return to the default after this test is done.  Where is the default for this property being set?

[2018-03-12 21:20] keith-turner commented on #971
I think this test needs to completely clear zookeeper after it runs.  I can look into doing that.

[2018-03-12 22:10] ctubbsii commented on #971
Is it using its own ZK, or the one from the accumulo-maven-plugin? If the latter, best not to completely clear it.

[2018-03-13 18:44] alanblueshift opened #1025 "Add suport to run Fluo on kerberized clusters"
Implement appropriate parameters in **fluo-app.properties** file to use Kerberos for authentication and authorization.

[2018-03-13 20:49] keith-turner opened #1026 "Add option to scan command for showing notifications"
Currently the only way to see outstanding notifications is by doing `fluo scan -a myApp --raw -c ntfy`.  However this shows deleted notifications.  It would be very useful to have the ability to only see active notifications.  Could add an option to the scan command for this.

[2018-03-14 20:12] alanblueshift commented on #1026
How about `fluo scan -a myApp --tail`? I'm facing some debugs scenarios in development that a tail would help a lot.

[2018-03-14 20:29] keith-turner commented on #1026
@alanblueshift for `--tail` scan has an option to start at a row, does this help?

[2018-03-14 20:43] alanblueshift commented on #1026
Yes! Actually I was thinking about to use this resource to implement a tail like scan. That stays connect until a CTRL+C from user.

[2018-04-07 20:58] kpm1985 commented on #1000
Ok so its been too long since I've looked at this. I just pulled down the new code and ran mvn with some errors left.

I want to finish this up soon because eliminating these errors to a reasonable degree could help clear the waters when other errors are thrown.

Should I try to upgrade curator and see how that works or keep working on this patch with refactoring etc or both?

[2018-04-09 21:11] ctubbsii commented on #1000
Probably both. I think an updated curator would be reasonable, but it may not fix the problem.

[2018-04-09 21:24] kpm1985 commented on #1000
Ok I will try a clean upgrade and then apply my logic to a patch if
necessary. Thank you Christopher.

On Mon, Apr 9, 2018, 2:11 PM Christopher Tubbs <notifications@github.com>
wrote:

[2018-04-17 14:32] #1024 closed

[2018-04-25 21:01] #856 closed

[2018-04-25 21:10] ctubbsii commented on #895
Not sure if this was done. Removing the milestone. Please add the correct milestone and close if completed.

[2018-04-25 21:11] ctubbsii commented on #896
Not sure if this was done. Removing the milestone. Please add the correct milestone and close if completed.

[2018-04-25 21:11] ctubbsii commented on #872
Not sure if this was done. Removing the milestone. Please add the correct milestone and close if completed.

[2018-04-25 21:14] ctubbsii commented on #1006
Duplicates #1007

[2018-05-08 17:38] #1026 closed

[2018-05-27 16:49] kpm1985 commented on #1000
Hello guys, following back up on this I have successfully used Curator 2.12
which has a lot of bugs fixed.

I think it sounds reasonable to upgrade to this version as it was as simple
as editing the pom. No new errors are created.

However, as feared, it does not fix the issue. But it does upgrade and fix
a lot of bugs in the dependency.

On Mon, Apr 9, 2018, 2:24 PM Kenneth Mcfarland <kennethmcfa

[2018-05-30 16:51] ctubbsii commented on #1000
Probably worth upgrading anyway.

[2018-06-06 00:38] kpm1985 commented on #1000
Fixed by #1035

[2018-06-06 00:45] #1000 closed

[2018-06-06 00:47] kpm1985 commented on #872
Is this closable due to #1035 ?

[2018-06-11 00:10] kpm1985 commented on #167
I was searching for another issue and I think this is closed by #1035

[2018-06-11 04:01] kpm1985 opened #1038 "Use try with resources for streams in FluoAdminImpl"
There are a few streams that aren't used with try with resources or ensured closed.

https://github.com/apache/fluo/blob/9b5277c9c79bb3a52bb879af591d1c51ae9476cc/modules/core/src/main/java/org/apache/fluo/core/client/FluoAdminImpl.java#L336

https://github.com/apache/fluo/blob/9b5277c9c79bb3a52bb879af591d1c51ae9476cc/modules/core/src/main/java/org/apache/fluo/core/client/FluoAdminImpl.java#L454-L4

[2018-06-11 19:25] #1038 closed

[2018-06-17 02:36] #872 closed

[2018-06-17 02:40] kpm1985 commented on #885
https://issues.apache.org/jira/browse/THRIFT-4062 has been resolved. I am closing this issue.

[2018-06-17 02:40] #885 closed

[2018-06-17 03:45] kpm1985 commented on #631
I think this was handled but would like to confirm. I think basically it was made so the table name is required. This is the call chain that makes me believe so:

https://github.com/apache/fluo/blob/01fc804f5914e6f9f2f4bfed8fc6e3e2701c16dd/modules/api/src/main/java/org/apache/fluo/api/config/FluoConfiguration.java#L264
calls this
https://github.com/apache/fluo/blob/01fc804f5914e6f9f2f4bfed8fc6e3e2

[2018-06-17 03:51] kpm1985 commented on #536
The shaded jar was finished, is this still relevant?

[2018-06-17 03:52] #474 closed

[2018-06-17 03:54] #167 closed

[2018-06-17 22:17] GigabyteProductions commented on #518
Random ports causes issues when firewalling. This should be documented in default config file.

[2018-06-17 22:55] kpm1985 commented on #518
I presume you are referencing these lines:
https://github.com/apache/fluo/blob/01fc804f5914e6f9f2f4bfed8fc6e3e2701c16dd/modules/core/src/main/java/org/apache/fluo/core/oracle/OracleServer.java#L283-L289

We could add some documentation here warning the user that if it is not set it will default to a random free port here:
https://github.com/apache/fluo/blob/01fc804f5914e6f9f2f4bfed8fc6e3e2701c16dd

[2018-06-17 22:58] mikewalch commented on #518
I agree that there should be better documentation about ports. While the Oracle chooses a random port by default, it can be set to use a fixed port by setting the property `fluo.impl.oracle.port`.

[2018-06-17 23:04] GigabyteProductions commented on #518
@kpm1985 Yep. Those are the lines/config.

I'm not entirely sure how exactly you mean to add a javadoc. I did notice that this setting has no constants or functions in the public API side of things: https://static.javadoc.io/org.apache.fluo/fluo-api/1.2.0/org/apache/fluo/api/config/FluoConfiguration.html

@mikewalch Yep. That was the fix that I think should end up in a comment in the default confi

[2018-06-17 23:05] GigabyteProductions commented on #518
... or possibly become in the (uncommented) default config, depending on anticipated use case (multiple oracles vs one oracle).

[2018-06-17 23:13] kpm1985 commented on #163
I think this 4 year old issue is handled because we have the code format file for eclipse now and we also use the impsort pluggin.

[2018-06-17 23:13] #163 closed

[2018-06-18 14:57] keith-turner commented on #536
Yeah, its still relevant.   The shading work that was was only for thrift.  I think we should make it easy to build a shaded version of Fluo from source.  I don't think the project should release a shaded version of Fluo to Maven central.  We should just document how a user could do this if they are having problems with dependencies.  We can also test the shaded version of Fluo and ensure it works

[2018-06-18 22:53] kpm1985 commented on #1002
@keith-turner I followed the discussion above and would like to try this issue. I've noticed a few preliminary things and have a few questions:

There is no check to see if the oracle is running for FluoAdminImpl.remove(), when I did some preliminary fooling around I noticed that.

Going by your test outline in #999 this test would write some table data, call remove, and read the table make sure i

[2018-06-19 22:48] ctubbsii commented on #474
Adding explanation for closure for future selves: project has already moved to Accumulo 1.7 and 1.9, and ITs are passing.

[2018-06-20 11:55] keith-turner commented on #1002
For that test I was thinking of reading and writing data using Fluo's API.   Only using the Accumulo API for the test would ensure the table was cleared, however it would not ensure that zookeeper was cleared.

[2018-07-06 13:37] keith-turner commented on #111
I think a good name for this new class would be FluoEntry.  The class could be placed in `./modules/accumulo/src/main/java/org/apache/fluo/accumulo/util/`.

[code]

[2018-07-06 17:21] keith-turner opened #1044 "TableRange.compareTo method could be improved with Java 8"
Java 8 added a lot of nice methods for building comparators.  These could be used to make [TableRange.compareTo()](https://github.com/apache/fluo/blob/91884df193b9819830bf21444ba1f42c09ba9c68/modules/core/src/main/java/org/apache/fluo/core/worker/finder/hash/TableRange.java#L108) much more readable.   Specifically the Java 8 methods `Comparator.nullsLast()` and `Comparator.comparing()` could be us

[2018-07-06 17:28] keith-turner commented on #1044
I recently made changes like this to Accumulo apache/accumulo@dc7897de5e8c211a91a7a51ca0d55fbc0aa12a72

[2018-07-09 16:04] keith-turner commented on #1002
Closed by 1cc9276e454505b82d15f72ef7be1c3008606d43

[2018-07-09 16:04] #1002 closed

[2018-07-27 14:51] #1044 closed

[2018-07-29 04:59] GigabyteProductions commented on #908
Could classes be loaded from HDFS directly using Accumulo's VFS classloader?

See: https://blogs.apache.org/accumulo/entry/the_accumulo_classloader

[2018-07-30 13:33] keith-turner commented on #908
Yes. One possible way to do this would be to run `fluo config -a <app>` and grep for the property `fluo.observer.jars.url`. Its also possible to obtain this property via the Java API using `FluoAdmin.getApplicationConfig()`.  Then the VFS classloader could be configured to use this.

Fluo is not currently using the VFS classloader for itself though.  Currently its not doing anything with classload

[2018-07-31 13:52] cjmctague commented on #466
Updating Twills version would allow us to bump Guava's version to `16.0.1` but we could not go any higher until Hadoop is updated to `2.7.2+`
https://stackoverflow.com/a/36443787

[2018-08-01 02:58] ctubbsii commented on #466
There's so many known vulnerabilities in previous versions of Hadoop (less than 2.7), that it probably makes sense to go ahead and bump all the way to 2.7.6 or later, which I think is still being maintained (looks like 2.7.7 was recently released).

[2018-08-15 03:05] annubiz opened #1046 "Please add OWASP Dependency Check to the build (pom.xml)"
Please add OWASP Dependency Check to the build (pom.xml).  OWASP DC makes an outbound REST call to MITRE Common Vulnerabilities & Exposures (CVE) to perform a lookup for each dependant .jar to list any/all known vulnerabilities for each jar.  This step is needed because a manual MITRE CVE lookup/check on the main component does not include checking for vulnerabilities in components or in dependant

[2018-08-15 04:56] ctubbsii commented on #1046
This has been on my personal TODO list for some time, and is a good idea for informational purposes. However, be aware that Fluo does not (generally) bundle dependencies in the project, so the CVEs that affect any given individual and their dependency set depends not on what Fluo has declared in its POM, but on what the user decides to install on their system during their own dependency-integratio

[2018-08-15 15:31] keith-turner commented on #1046
We could possibly add a comment to the user script that fetches dependencies about checking deps for CVEs

[2018-08-16 23:01] ctubbsii commented on #1046
Hmm, I'm not sure there's much to do here. I looked into it, and the OWASP plugin can be executed with a simple: `mvn org.owasp:dependency-check-maven:3.3.1:check`

The only way to add it to the POM would be to create a profile which executed it by default, but activating the profile isn't much different than calling the plugin directly... and you have to keep the plugin up-to-date, which I'm not

[2018-08-16 23:03] ctubbsii commented on #1046
Unfortunately, owasp doesn't follow maven naming conventions to make the call shorter by adding anything to the POM. If it were named `owasp-maven-plugin`, it could be executed with `mvn owasp:check`.

[2018-09-11 19:23] keith-turner opened #1049 "Leverage ability to disable deletes in Accumulo 2.0"
Accumulo's delete processing can cause Fluo to have O(N^2) read and commit processing when a key/value has lots of versions.  To avoid this, Fluo uses reflection to remove the Accumulo delete iterator.  Performance improvements made in Accumulo 2.0 by apache/accumulo#244 break Fluo's reflection code.  The reflection code does not need to be fixed though, instead deletes can be turned off in Accumu

[2018-09-11 19:27] keith-turner commented on #1049
I have a branch that does this :

  https://github.com/keith-turner/fluo/tree/disable-deletes

However I can not make a PR because this branch was created from my Accumulo 2.0 branch which is still a work in progress.

  https://github.com/keith-turner/fluo/commits/accumulo-2.0

I plan to get all of this merged in after Accumulo 2.0 is released.

[2018-10-03 00:04] #871 closed

[2018-10-04 01:49] jkosh44 commented on #1003
Is @alanblueshift working on this? If not I'd like to take this issue.

[2018-10-16 18:05] #1003 closed

[2018-10-17 12:54] keith-turner opened #1054 "Use summarizers to make compaction decisions"
In Accumulo 2.0 summarizes were introduced.   Fluo could use these to count column types and notifications.  These counts could be use to make compaction decisions.

[2018-10-17 12:59] keith-turner opened #1055 "Look into a dedicated scan executor for notification scans"
Scanning for notifications is a continuous activity that Fluo does.   It may make sense to do one of the following.

  * Have a dedicated thread pool for notifcation scans with a small number of threads like Math.max(1,0.10 * numCores)
  * Have a prioritizer that gives notification scans a lower priority.

Fluo could offer the prioritizer and/or dispatcher AND utilities or docs to configure them.

[2018-10-17 13:01] keith-turner commented on #1055
For prioritization, Fluo could use the built in prioritizer with scan execution hints.

[2018-11-05 16:22] cjmctague commented on #466
Guava has been updated. Closed by e019c79dafa2769b9e0d48ba1923d84702447922

[2018-11-05 16:22] #466 closed

[2018-11-21 13:54] keith-turner opened #1063 "Update lib/ahz/pom.xml for Accumulo 2 and Hadoop 3"
This is follow on work for #1062

[2018-11-21 20:39] ctubbsii commented on #1063
Follow on work to do what, exactly? Please add more descriptive summaries of the work to be done, so that somebody else could do it if you don't, and so somebody reading this issue will have some insight into what the issue is, without having to read all the previous changes from the linked issue.

[2018-11-21 22:07] keith-turner commented on #1063
Need to make the pom get the correct Hadoop 3 and Accumulo 2 dependencies.  One major diff with hadoop 3 is the new client-api and client-runtime jars.

[2018-11-26 18:05] keith-turner commented on #1049
Done in #1053

[2018-11-26 18:05] #1049 closed

[2019-02-13 22:50] keith-turner opened #1069 "Saw deadlock in fluo map reduce load job"
While running the stress test I saw map reduce jobs hang when trying to close.  Jstacking a map reduce process I saw the following deadlock.

[code]

[code]

[2019-02-20 00:26] #1069 closed

[2019-10-22 00:15] jkosh44 commented on #948
Is this still valid? I was looking at `Map<RowColumn, Bytes> get(Collection<RowColumn> rowColumns)` and `get(Collection<Bytes> rows, Set<Column> columns)` as options but they don't have the `Consumer<Entry<Key, Value>> locksSeen` parameter.

Another option would be something like the following, which just runs all the `getImpl` call concurrently. It's a little messy but I'd think of someway to cle

[2019-10-22 00:18] jkosh44 commented on #948
I was also thinking, though I haven't fully thought it through yet, that we could change `readUnread(CommitData cd, Consumer<Entry<Key, Value>> locksSeen)` and some of the other helper methods to return a CompletableFutures and chain them together with `thenComposeAsync`. That way if we go with the completable future method above we wouldn't have to block with `.get()`.

[2019-10-22 13:45] keith-turner commented on #948
Yes.

I feel like this is the right path.  Looking inside `get(Collection<RowColumn> rowColumns)` there is a `ParallelSnapshotScanner`, I wonder if this could be used.  Create a parallel snapshot scanner and then read all the data from it.  Can pass `locksSeen` to the constructor of `ParallelSnapshotScanner`.

I am wary of using `CompletableFuture.runAsync()` for operations that do I/O because it

[2019-10-23 03:56] jkosh44 commented on #948
Gotcha, we could go a similar route of `Map<Column, Bytes> getImpl(Bytes row, Set<Column> columns, Consumer<Entry<Key, Value>> locksSeen)` and create a `public Map<RowColumn, Bytes> getImpl(Collection<RowColumn> rowColumns, Map<Bytes, Set<Column>> locksSeen)` method which allows you to provide the `locksSeen` for the `ParallelSnapshotScanner` constructor.

[2019-10-30 13:30] #948 closed

[2019-12-06 19:34] jkosh44 commented on #983
Is this something people are still interested in? I was thinking of taking a look at the command module and the command pattern and maybe putting together a POC or something.

[2019-12-06 22:22] ctubbsii commented on #983
Yes. I think avoiding System.exit is still a good idea.

[2019-12-09 22:45] jkosh44 commented on #983
I've been looking through the command code and I have a couple of questions/comments for anyone that may have worked on the code and knows the answer.
- Some of the commands currently seem to end by returning or letting exceptions propagate to main, while others explicitly call System.exit. I'm wondering if this was an intentional decision or just the result of multiple developers working on it at

[2019-12-09 23:04] ctubbsii commented on #983
@jkosh44 The inconsistency is almost certainly not intentional, but probably technical debt incurred by developing at different times (and perhaps by different people).

I agree with you about some thought needing to be put in to whether `System.out` and `System.err` or `Logger` is used. I concur with your demarcation based on user-interactivity via CLI or not, but haven't looked into it to see if

[2020-01-14 03:21] #983 closed

[2020-01-15 02:54] jkosh44 opened #1084 "Condense fluo.sh"
After the changes done in #1083 the Java entry point for all the commands is the same class, [FluoProgram](https://github.com/apache/fluo/blob/master/modules/command/src/main/java/org/apache/fluo/command/FluoProgram.java). This has led to some duplication in the [fluo](https://github.com/apache/fluo/blob/master/modules/distribution/src/main/scripts/fluo) script, specifically in the case statement

[2020-01-15 04:33] jkosh44 opened #1085 "Make commands more easily reusable outside of CLI"
In Issue #983 some people expressed a desire to be able to reuse commands outside of the CLI, for example in APIs and UIs. PR #1083 helped with this by removing `System.exit` from the commands themselves and restructuring the module so you don't have to call the `main` method on a command to execute it.

The following three issues still make it difficult for the commands to be reusable:
1. Many of

[2020-01-15 04:35] jkosh44 commented on #1085
Since the original issue, #983, is over 2 years old I thought this issue warranted a discussion to see if it's something people still want and if people agree with my proposed solution.
For 1 and 2, we can add a public method to the command classes that returns some type of data object (or primitive if applicable). Not all commands would need this additional method. `execute()` can call this metho

[2020-02-02 02:32] jkosh44 commented on #579
I think this issue can be closed with the -f option in [FluoInit](https://github.com/apache/fluo/blob/master/modules/command/src/main/java/org/apache/fluo/command/FluoInit.java).

[2020-02-03 21:41] #579 closed

[2020-03-04 21:31] #895 closed

[2020-03-06 23:24] jkosh44 opened #1089 "Remove race condition from FluoAdminImpl.numWorkers"
As discussed in #1088 the `numWorkers` method in [`FluoAdminImpl`](https://github.com/apache/fluo/blob/master/modules/core/src/main/java/org/apache/fluo/core/client/FluoAdminImpl.java) has a race condition.  Its possible that the node at `ZookeeperPath.FINDERS` is deleted after the check for existence but before the operation to get it's children.

[2020-03-08 12:34] ZoukeNN commented on #1084
Hi @jkosh44 ,
Im new to this project, Before I start to refactor the script, I would like to explain how I would refactor to make sure I am not missing anything.

The last case statement starts at line no - 129 , Inside this case body there are lot calls to $JAVA org.apache.fluo.command.FluoProgram with different arguments like
-  $JAVA org.apache.fluo.command.FluoProgram $1
-  $JAVA org.apache.fl

[2020-03-08 13:56] ctubbsii commented on #1084
@ZoukeNN Creating a bash function to collapse some things seems like a good idea. Additionally, some cases could be combined that have identical bodies.

Example:
[code]

Also, be sure to use [shellcheck](https://github.com/koalaman/shellcheck) to check for potential problems.

[2020-03-08 18:59] jkosh44 commented on #1084
I agree with @ctubbsii. For testing you can use [fluo-uno](https://github.com/apache/fluo-uno/) to set up your local environment and you can use [stresso](https://github.com/apache/fluo-examples/tree/master/stresso) as a test app.

Don't hesitate at all if you have any questions, we're happy to help.

[2020-03-09 09:22] ZoukeNN commented on #1084
I am glad you guys are there to support me, I am trying to setup my local dev environment.  I am facing few issues while trying to run fluo-uno.
[code]
Someone else faced this issue before and resolved it - [Instance name uno does not exist in zookeeper #224](https://github.com/apache/fluo-uno/issues/224). Although the issue he faced and I faced are the same as seen from the logs. I am assuming th

[2020-03-09 14:33] ctubbsii commented on #1084
Are there any more details in the log files in `${YOUR_UNO_DIR}/install/logs/accumulo/*` or `${YOUR_UNO_DIR}/install/logs/setup/*`?

[2020-03-09 16:15] ZoukeNN commented on #1084
I see this in /install/logs/setup/accumulo.err

`Java HotSpot(TM) 64-Bit Server VM warning: Option UseConcMarkSweepGC was deprecated in version 9.0 and will likely be removed in a future release.
2020-03-09 08:57:02,347 [conf.SiteConfiguration] INFO : Found Accumulo configuration on classpath at /home/flyingcanopy/fluo-uno/install/accumulo-2.0.0/conf/accumulo.properties
2020-03-09 08:57:03,708 [in

[2020-03-09 17:19] ctubbsii commented on #1084
That error seems to indicate that Hadoop itself didn't start. So, you should probably check the Hadoop logs next. My instinct says that it's because the Hadoop script tried to ssh to localhost to complete the setup, and you probably don't have passwordless authentication set up over ssh. (https://hadoop.apache.org/docs/r2.7.2/hadoop-project-dist/hadoop-common/SingleCluster.html#Setup_passphraseles

[2020-03-09 18:40] ZoukeNN commented on #1084
@ctubbsii you were right , I checked the logs and the issues seems to be with not having passwordless authentication.

This did the work
`
ssh-keygen -t rsa -P '' -f ~/.ssh/id_rsa
`
`
cat ~/.ssh/id_rsa.pub >> ~/.ssh/authorized_keys
`
Currently I am able to access uno shell.

[2020-03-09 22:20] #1089 closed

[2020-03-09 22:48] ctubbsii commented on #1084
Great! Glad you got it working.

[2020-03-15 17:22] jkosh44 commented on #530
I know this issue is very old but I was just doing some work on fluo list and oracles/workers so I wanted to give it a look. I was looking at the proposed solution and I think it has the following problem.
Imagine you start a worker at 10:05 and then you start an oracle at 10:15. If you call fluo list it will show that the application is running and the start time is 10:05. If you then stop the wo

[2020-03-16 19:06] keith-turner commented on #530
There are definitely alot of concurrency issues with trying to keep an accurate start time.  It would probably be possible to work out an algorithm using Zookeeper atomic compare and set features to maintain this information.  However I do no think its worthwhile.  May want to consider closing the issue or reframing to list the oldest running process start time instead of the app start time.

[2020-05-24 12:55] flyingcanopy commented on #1084
@jkosh44

When i try to package stresso . I am facing this issue.
[code]
Currently I am using
[code]
Please let me know if you can help me with this issue? I have made changes to fluo.sh. I need to test it.

[2020-05-24 21:24] keith-turner commented on #1084
@flyingcanopy I think I know why stresso is not building for you.  The source code for stresso is targeted at the last released version of Fluo, 1.2.0.  To build stresso against the latest unrelease Fluo code, you need to patch stresso with the changes in the PR apache/fluo-examples#11.  Let me know if you need any assistance with this.

[2020-05-26 06:02] TheGlorifiedCalculator opened #1095 "IMPORTANT!!!!!!!!!!"
My phone got stolen and I have no idea wtf is happening but some asshole is going for my jugular. It started with getting trolled online and I got super pissed and told them to f*** themselves.

I never got a phone number. This is exactly why I wanted us to know each other. I was looking around at DefCon cuz I said I wanted to do the security here and now Im being made fun of.

This fucker has so

[2020-05-26 06:02] TheGlorifiedCalculator commented on #1095
<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Holy sh*t Kenny sent me an email. Best quotes:<br>- « getting my account suspended like a female »<br>- « I needed to reinvent my brand anyways »<br>- « I held you to the rules of any experienced developer »<br><br>My god what is wrong with this guy 🤦‍♂️ <a href="https://t.co/kI2vzjjFNy">pic.twitter.com/kI2vzjjFNy</a></p>&mdash; Elliot Alder

[2020-05-26 06:07] TheGlorifiedCalculator commented on #1095
That was my birthday. Thats when my account magically got suspended. He laughed. I bet hes laughing like hell right now about how easy it was to just crack his knuckles and fuck me up. If I ever see him in real life I'm taking the hit on my record I dont give two fucks somoene is getting kicked in the fucking face.

Erase my shit. Please see if Apache can turn up all the hits on my compromised ema

[2020-05-26 06:41] #1095 closed

[2020-05-26 08:04] TheGlorifiedCalculator opened #1096 "NOT FUCKING AROUND MY IP IS OPEN"
Dude, close that shit now.

I always wanted to have a beer with you. I was really nice, maybe a bit off, Lewis and I talked on the phone about an internship. Locking my ass out is the best thing to do, you have nothing to lose. Go check Twitter and see the shitshow.

My entire life including medical records and everything have been exposed as fuck all over the internet. If you dont belive me this

[2020-05-26 08:06] TheGlorifiedCalculator commented on #1096
All of my friends are being fucked with. Verizon hit my friend with fraud today. My friend frank got robbed last night. Fine.

Fucking liars paradox god damn there is no fucking truth thanks alot. Lock it out. Ill call the fucking head office tomorrow from the police department and have a badge number.

[2020-05-26 08:07] TheGlorifiedCalculator commented on #1096
it could be a troll or elliot i have no idea whayts up but they have my shit and its fair play to be me for the rest of their lives. Im going to see a shrink this is terrible. Soeone is using logic to fuck me over.

[2020-05-26 08:08] TheGlorifiedCalculator commented on #1096
Take a look at that tweet, its probably him. My twitter went suspended 3/9 thats my fucking birthday because I told him to RTFM, he might have just lost my shit at some hack con, or made me a CTF for some idiot somewhere i didnt act secure enought

[2020-05-26 08:09] TheGlorifiedCalculator commented on #1096
I have no idea how to verify. My license and everything is gone. The first thing I did was write documentation, but all my communication is online. These open logs are a treasuretrove for hackers acording to defcon. Like I know shit at all thought. I have to reset my shit. I said as much as I can. Tell me if I sound like me or now fuckkk

[2020-05-26 08:09] #1096 closed

[2020-05-26 08:19] TheGlorifiedCalculator opened #1097 "YouTube verification"
Sorry for freaking out. I remembered you guys can just revert the tree, and the code is open source. Im just freaking out, this is the first time I've been hacked. Im calmed down. I took 20 seconds to problem solve instead of freaking out. Youe seen my kpm1985 account. He has my picture up.

My hair looks like shit but if you look up cashed copies of GlorifiedCalculator and TheGlorifiedCalculator

[2020-05-26 08:21] TheGlorifiedCalculator commented on #1097
https://youtu.be/mHaB685YMXE

[2020-05-26 08:21] #1097 closed

[2020-05-27 16:15] flyingcanopy commented on #1084
@keith-turner
I checked out fluo-130-update and ran the build and it was successful, However when I run `fluo init -a stresso -p conf/fluo-app.properties`

I am facing this issue
`fluo init -a stresso -p conf/fluo-app.properties
SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#S

[2020-05-27 22:48] jkosh44 commented on #1084
@flyingcanopy make sure that before you run `fluo init` that you build stresso using `./bin/build.sh` that should download all the jars and copy them to the right place.

[2020-05-28 00:42] keith-turner commented on #1084
@flyingcanopy here are complete instructions that should take you from a clean Ubuntu 18.04 instance to running the test.

[code]

One easy way to get a clean Ubuntu 18.04 instance is to use [multipass](https://multipass.run/).  The following command will start up a clean ubuntu 18.04 instance using multipass to run the commands above.

[code]

[2020-05-28 08:21] flyingcanopy commented on #1084
@keith-turner  thanks for clear instructions.
@jkosh44  which version of org.apache.commons.lang are we using ? maybe I can add the dependency in pom.xml.
`fluo init -a stresso -p conf/fluo-app.properties
Exception in thread "main" java.lang.NoClassDefFoundError: org/apache/commons/lang/exception/NestableException
	at java.lang.ClassLoader.defineClass1(Native Method)
	at java.lang.ClassLoader.defi

[2020-05-28 11:37] flyingcanopy commented on #1084
Hi,
 I get this when i run run-test.sh
[code]
I believe its in waiting state for this statement  `**$FLUO_CMD wait -a $FLUO_APP_NAME**`
Can you please tell me how long does it  take for it to run  ? The process is in waiting state for > 45 minutes and I had to terminate it.
My config
[code]

Do I need to make any further changes ?

[2020-05-28 12:54] flyingcanopy commented on #1084
Thank you @keith-turner for clear instructions and @jkosh44 for guiding me through.
I was able to test the changes after refactoring fluo.sh.  Please merge, You can see the console output below.
`
./bin/run-test.sh
OpenJDK 64-Bit Server VM warning: Option UseConcMarkSweepGC was deprecated in version 9.0 and will likely be removed in a future release.
SLF4J: Class path contains multiple SLF4J bindi

[2020-05-28 16:24] keith-turner commented on #1084
Glad you got it to run @flyingcanopy.  I need to add those instructions I wrote up to fluo-examples.  When writing them up, I realized there are a lot of little gotchas.

For the output of the test run, you can use the triple back tick.

https://help.github.com/en/github/writing-on-github/creating-and-highlighting-code-blocks

[2020-05-28 16:30] flyingcanopy commented on #1084
Thanks @keith-turner I edited and used the triple back tick ``` ```

[2020-05-28 16:44] flyingcanopy commented on #1084
Just let me know if there is anything else I can help with ?

[2020-05-28 18:34] keith-turner commented on #1084
Is there any particular area you are interested in?

[2020-05-28 18:34] keith-turner commented on #1084
This was done in #1098

[2020-05-28 18:34] #1084 closed

[2020-05-30 12:32] flyingcanopy commented on #1084
Yes,  I am interested in algorithms.

[2020-07-01 15:15] #967 closed

[2020-07-05 04:27] suusha1340-source commented on #1054
spec/parser-spec.js

[2020-07-16 15:57] #795 closed

[2021-01-12 14:40] keith-turner commented on #1063
The current pom file works, I tested it yesterday.  I think this issue was fixed by 549d645addb330f4ae2e074447428cb86b5a9a3f

[2021-01-12 14:40] #1063 closed

[2021-01-12 14:43] keith-turner commented on #1054
It would be better to do this after Accumulo 2.1.0 releases w/ new compaction updates.  Doing it now would require writing code against the Accumulo CompactionStrategy which is deprecated as of Accumulo 2.1.0 because its highly unstable.

[2021-03-14 14:12] jaredwinick opened #1112 "LoaderExecutor Futures should have a reference to the Loader object"
In #795 a `submit()` method was added to the `LoaderExecutor` that returned a `CompletableFuture<Void>` so a client could be aware of when the transaction committed. We are using this functionality successfully from within a web service, but it would be helpful to have the Future return the Loader as the value of `get()` as opposed to nothing. Our use case is that the Loader is reading data out of

[2021-03-20 01:03] #1112 closed

[2021-08-31 16:39] jaredwinick commented on #660
I am not sure if this is 100% the same thing, but on Fluo 2.0.0-SNAPSHOT we ran into something that looks similar. This occurred on a single test server that was likely very overloaded at the time of failure. When trying to scan we see that exception
[code]
When looking at the raw data we see the lock to the primary
[code]
But maybe in this case the primary does exist?
[code]
Are there any recover

[2021-09-01 14:01] keith-turner commented on #660
@jaredwinick would the IllegalstateExcep happen every-time the data was scanned?  Want to confirm this is an issue with the persisted data and not a transient issue in the code. Seems like a problem with the data.

What command did you run to see the following output :

[code]

I don't think so.

[2021-09-01 14:02] wjsl commented on #660
It’s a part of the data when we scan it.

[2021-09-01 14:30] jaredwinick commented on #660
It was
[code]
the values are big so i just copied what looked like the relevant part of the output

[2022-08-04 16:23] ITSKATYMABYBABY commented on #758
I AM THE 183 CONTRIBUTIONS IN.&.OF LAST YEAR, NO DISRESPECT SIR. SINCERELY,

.KATELYN.MABY.BURSON.

[2022-11-16 14:44] keith-turner commented on #660
I think we tracked down the problem in #1123

[2022-11-16 14:44] #660 closed

[2022-11-16 21:11] ctubbsii opened #1124 "TestTransaction should implement Transaction instead of TransactionBase"
Currently, `TestTransaction` implements TransactionBase, but still has a `commit()` and `close()` method with the same signature as the `Transaction` interface, which itself extends `AutoCloseable`. It should implement `Transaction` instead.

`TestTransaction` also has a `done()` method that does:

[code]

Once `TestTransaction` is `AutoCloseable`, inheriting that from `Transaction`, the calls to

[2022-11-17 03:34] ctubbsii commented on #1124
Note to potential contributors: this could be done in two smaller steps, as separate PRs.

1. inline all instances of `TestTransaction.done()` (and remove the method), and change `implements TransactionBase` to `implements Transaction` (adding `@Override` annotations to `close()` and `commit()` would be nice, too), and
2. track down `TestTransaction` declarations and convert them to use try-with-r